{% extends "base.html" %}
{% load static %}

{% block head %}
  <style>
    input {
      max-width: 200px;
      width: 90vw;
    }
  </style>
{% endblock %}

{% block body %}
  <h1>{{ lang.email.reset.html_title }}</h1>
  <span class="fake-input">{{ username }}</span><br>
  <input type="password" autocomplete="off" placeholder="{{ lang.settings.account_password_new }}" id="password"><br>
  <input type="password" autocomplete="off" placeholder="{{ lang.account.confirm_placeholder }}" id="confirm"><br><br>
  <button id="save">{{ lang.generic.save }}</button><br>
  <button id="toggle-password">{{ lang.account.toggle_password }}</button><br><br>

  <script>
    let formURL = "{{ form_url }}";
    {% include "js/reset-password-form.js" %}
  </script>
{% endblock %}
