h3 {
  margin-bottom: 0;
}

hr {
  max-width: 25em;
}

p {
  margin-bottom: 0.25em;
}

.actions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
}

.admin-logs {
  margin: 0 auto;
  max-width: calc(100vw - 2em);
}

.admin-logs th {
  padding: 0.3em;
}

.admin-logs td {
  padding: 0.3em;
  text-align: left;
}
