@import url("fonts.css");
@import url("theme.css");

::selection {
  background-color: var(--accent-50);
  color: var(--text);
}

:focus {
  outline: calc(2em / 14) var(--accent) solid;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--base);
  color: var(--text);
  font-family: "Poppins", "Arial";
  padding: 5vh 0;
  text-align: center;
  font-size: 14px;
  margin: 0px;
  overflow-x: hidden;
  word-wrap: break-word;
}

hr {
  border-color: var(--accent);
}

@media screen and (min-width: 1025px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 565px) {
  body {
    font-size: 18px;
    padding: 5vh 3vw;
  }
}

button {
  background-color: var(--crust);
  color: var(--text);
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition-property: color;
  transition: 0.15s;
  font-size: 0.8em;
  transition: scale 0.15s, background-color 0.15s;
}

button:disabled {
  opacity: 60%;
  pointer-events: none;
}

button:active {
  scale: 90%;
  background-color: var(--mantle);
}

button.inverted {
  background-color: var(--base);
}

button.inverted:hover {
  background-color: var(--mantle);
}

button.primary,
button.primary:hover {
  background-color: var(--accent);
  color: var(--base);
  border-color: var(--surface0);
  outline-color: var(--surface0);
}

input,
textarea,
option,
select {
  background-color: var(--crust);
  color: var(--text);
  border: 1.5px solid var(--surface0);
  margin: -1.5px;
  border-radius: 2px;
  padding: 5px 7px;
  margin: 3px;
  font-size: 0.8em;
  resize: vertical;
}

input,
textarea,
select {
  font-family: "Poppins";
}

option {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
}

input::placeholder,
textarea::placeholder {
  color: var(--surface2);
  opacity: 100%;
}

textarea:disabled {
  opacity: 70%;
  pointer-events: none;
}

a:link {
  color: var(--accent);
  text-decoration: none;
}

a:visited {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a::selection {
  -webkit-text-decoration-color: var(--text);
  text-decoration-color: var(--text);
}

i {
  opacity: 80%;
}

p {
  margin: 0px;
  padding: 2px;
}

table.bordered {
  border-collapse: collapse;
}

table.bordered th,
table.bordered td {
  border: 1.5px solid var(--surface0);
}

.user-badge {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  position: relative;
  top: 0.2em;
  fill: var(--text);
}

.text:not(svg) {
  color: var(--text);
}

.background:not(svg) {
  color: var(--base);
}

.accent:not(svg) {
  color: var(--accent);
}

.red:not(svg) {
  color: var(--red);
}

svg.text,
.text svg {
  fill: var(--text);
}

svg.background,
.background svg {
  fill: var(--base);
}

svg.accent,
.accent svg {
  fill: var(--accent);
}

svg.red,
.red svg {
  fill: var(--red) !important;
}

.nowrap {
  white-space: nowrap;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
}

.invis {
  opacity: 0%;
}

.hidden {
  display: none;
}

.mono {
  font-family: "Cousine";
}

.no-underline {
  text-decoration: none !important;
}

.icons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 1em;
  left: 1em;
  gap: 0.5em;
}

.icons a {
  display: inline-block;
}

.icons svg {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  fill: var(--text);
  stroke: none;
}

.icons svg:active {
  scale: 0.9;
}

.icons svg {
  cursor: pointer;
}

.icons .dot::after {
  position: absolute;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-0.3em, 0px);
  background-color: var(--accent);
  content: "";
}
