button { width: 5em; }

#post-text {
  resize: none;
  width: 35em;
  height: 11em;
}

#post {
  position: relative;
  top: -2.6em;
  left: calc(15em + 6px);
}

#switch { width: 6em; }
#more { width: 8em; }
#follower-container { white-space: nowrap; }
#add-follower { width: calc(25em - 8px); }

#post-text:focus-visible, #post-text:focus,
#add-follower:focus-visible, #add-follower:focus {
  outline: calc(2em / 14) var(--secondary) solid;
}

.main-content {
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.post {
  width: calc(26.95em - (3em / 7));
  border: calc(3em / 14) var(--secondary-low-opacity) solid;
  padding: 1.25em;
  margin-bottom: 1.75em;
  text-align: left;
  display: inline-block;
  border-radius: calc(3em / 14);
}

.upper-content { cursor: pointer; }
.upper-lower-opacity { opacity: 70%; color: var(--primary); }
.username, .timestamp, .displ-name { display: inline-block;  }
.bottom-content { text-align: center; }

.like, .comment, .priv {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  position: relative;
  top: 0.2em;
  fill: var(--text);
}

.priv { scale: 75%; }
.comment { padding-right: 0.3em; }
.like[data-liked="true"] { fill: var(--primary); }

.bottom-spacing {
  display: inline-block;
  width: 3em;
}

@media screen and (max-width: 565px) {
  #post-text { width: calc(94vw - (2em / 7) - 17px); }
  #add-follower { width: calc(94vw - (2em / 7) - 12em); left: 0px; }
  .post { width: calc(94vw - 3.5em - (3em / 7)); }
  #post { left: calc(47vw - 2.5em - 5px); }
}
