button {
  width: 5em;
}

.post-text {
  resize: none;
  width: calc(32em - 10px);
  position: relative;
  top: 2.6em;
  height: 6em;
  transition: height 0.25s;
}

#post-text {
  width: 35em;
  resize: none;
  height: 6em;
  transition: height 0.25s;
}

#post-text:focus,
.post-text:focus {
  height: 11em;
}

#post {
  position: relative;
  bottom: calc(2px + 2.6em);
  left: calc(15em + 3px);
}

.post-button {
  position: relative;
  left: calc(3px + 27em);
  bottom: 2px;
}

.cancel-button {
  position: relative;
  left: calc(5px + 21.5em);
  bottom: calc(2px + 2.5em);
}

#switch {
  width: 6em;
}

#more {
  width: 8em;
}

.main-content {
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.post {
  width: calc(26.95em - (3em / 7));
  border: calc(3em / 14) var(--accent-50) solid;
  padding: 1.25em;
  margin-bottom: 1.75em;
  text-align: left;
  display: inline-block;
  border-radius: calc(3em / 14);
}

.quote-area .post {
  margin-bottom: 0.5em;
  margin-top: 0.75em;
  width: 23.5em;
}

.upper-content {
  cursor: pointer;
}

.upper-lower-opacity {
  color: var(--accent-50);
}

.username,
.pronouns,
.timestamp {
  display: inline-block;
}

.bottom-content {
  text-align: center;
}

.user-badge,
.bottom-content-icon svg,
svg.bottom-content-icon {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  position: relative;
  top: 0.2em;
  fill: var(--text);
}

button.bottom-content-icon {
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  background-color: unset;
  font-size: 1rem;
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: unset;
  height: unset;
}

.comment-icon {
  padding-right: 0.3em;
}

.like[data-liked="true"] svg {
  fill: var(--accent);
}

.bottom-spacing {
  display: inline-block;
  width: 3em;
}

@media screen and (max-width: 565px) {
  #post-text {
    width: calc(94vw - (2em / 7) - 17px);
  }

  .post-text {
    width: calc(94vw - (2em / 7) - 90px);
  }

  .post {
    width: calc(94vw - 3.5em - (3em / 7));
  }

  #post {
    left: calc(47vw - 2.5em - 5px);
  }

  .post-button {
    left: calc(97vw - 11.5em - 5px);
  }

  .cancel-button {
    left: calc(97vw - 17em - 2px);
  }

  .quote-area .post {
    width: calc(94vw - (2em / 7) - 120px);
  }

  .bottom-spacing {
    width: 1.5em;
  }
}
