.messages-container {
  width: calc(100vw - 2em);
  max-width: 40em;
  background-color: var(--button-hover-background);
  border-radius: 0.25em;
  margin: 0 auto;
  padding: 1em;
  height: calc(90vh - 2em);
}

.messages-container button {
  margin: 0 auto;
  margin-top: 1.5em;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(90vh - 8em - 9px);
  margin-top: 2em;
}

.message {
  width: calc(70% - 0.6em);
  padding: 0 0.5em;
}

.message div {
  display: inline-block;
  min-width: 0.5em;
  padding: 0.3em 0.6em;
  word-break: break-word;
}

.message.receive {
  padding-right: 30%;
  text-align: left;
}

.message.receive div {
  background-color: var(--table-border);
  border-radius: 0.6em 0.6em 0.6em 0;
}

.message.send {
  padding-left: 30%;
  text-align: right;
}

.message.send div {
  text-align: left;
  background-color: var(--accent);
  color: var(--background);
  border-radius: 0.6em 0.6em 0 0.6em;
}

.message.send div::selection {
  background-color: var(--gray);
  color: var(--background);
}

.message.send div > a {
  color: var(--background);
  text-decoration: underline;
}

.header-container {
  position: absolute;
  width: 90vw;
  left: 5vw;
  top: 1vh;
}

.header-container h1 {
  filter: drop-shadow(0 0 5px var(--background))
          drop-shadow(0 0 5px var(--background))
          drop-shadow(0 0 3px var(--background));
}

#your-mom {
  height: 3em;
  width: calc(100vw - 2em);
  max-width: 40em;
  margin-top: 1em;
  resize: none;
}

.timestamp {
  display: block;
  font-size: 0.7em;
  color: var(--text);
}

@media screen and (max-width: 565px) {
  #your-mom {
    width: calc(90vw - (4em / 7) - 17px);
  }
}
