.messages-container {
  width: calc(100vw - 2em);
  max-width: 40em;
  background-color: var(--mantle);
  border-radius: 0.25em;
  margin: 0 auto;
  padding: 1em;
  height: calc(100vh - 6em);
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
  overflow: scroll;
  height: calc(100vh - 12em);
}

.message {
  width: calc(70% - 0.6em);
  padding: 0 0.5em;
}

.message div {
  display: inline-block;
  min-width: 0.5em;
  padding: 0.3em 0.6em;
}

.message.recieve {
  padding-right: 30%;
  text-align: left;
}

.message.recieve div {
  background-color: var(--surface0);
  border-radius: 0.6em 0.6em 0.6em 0;
}

.message.send {
  padding-left: 30%;
  text-align: right;
}

.message.send div {
  text-align: left;
  background-color: var(--accent);
  color: var(--base);
  border-radius: 0.6em 0.6em 0 0.6em;
}

#your-mom {
  height: 6em;
  width: calc(100vw - 2em);
  max-width: 40em;
  margin-top: 1em;
}
