.messages-container {
  width: calc(100vw - 2em);
  max-width: 40em;
  background-color: var(--mantle);
  border-radius: 0.25em;
  margin: 0 auto;
  padding: 1em;
  height: calc(90vh - 2em);
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
  overflow: scroll;
  height: calc(90vh - 8em - 9px);
}

.message {
  width: calc(70% - 0.6em);
  padding: 0 0.5em;
}

.message div {
  display: inline-block;
  min-width: 0.5em;
  padding: 0.3em 0.6em;
}

.message.receive {
  padding-right: 30%;
  text-align: left;
}

.message.receive div {
  background-color: var(--surface0);
  border-radius: 0.6em 0.6em 0.6em 0;
}

.message.send {
  padding-left: 30%;
  text-align: right;
}

.message.send a {
  color: var(--surface0);
}

.message.send div {
  text-align: left;
  background-color: var(--accent);
  color: var(--base);
  border-radius: 0.6em 0.6em 0 0.6em;
}

.header-container {
  position: absolute;
  width: 90vw;
  left: 5vw;
  top: 1vh;
}

.header-container h1 {
  text-shadow: 0 0 20px var(--crust), 0 0 19px var(--crust),
               0 0 18px var(--crust), 0 0 17px var(--crust),
               0 0 16px var(--crust), 0 0 15px var(--crust),
               0 0 14px var(--crust), 0 0 13px var(--crust),
               0 0 12px var(--crust), 0 0 11px var(--crust);
}

#your-mom {
  height: 6em;
  width: calc(100vw - 2em);
  max-width: 40em;
  margin-top: 1em;
  resize: none;
}

.timestamp {
  display: block;
  font-size: 0.7em;
  color: var(--subtext0)
}

.messages-container button {
  width: 9em;
  margin: 0 auto;
}


@media screen and (max-width: 565px) {
  #your-mom {
    width: calc(94vw - (2em / 7) - 17px);
  }
}
