#read {
  width: 8em;
}

hr {
  max-width: 25em;
  margin-bottom: 3em;
}

.post button {
  cursor: default;
}

.post button[disabled] {
  opacity: 100%;
}

.post button:focus {
  scale: 100%;
  outline: none !important;
}
