#color-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#banner {
  width: 200px;
  background-color: var(--banner);
  height: 50px;
  display: inline-block;
  border-radius: 0.2em;
}

#banner.gradient {
  background: linear-gradient(90deg, var(--banner), var(--banner-two));
}

.post-container {
  padding: 1em;
  background-color: var(--base);
  border-radius: 0.5em;
}

.post {
  margin: 0px;
}

@media screen and (max-width: 565px) {
  .post { width: calc(94vw - 3.5em - (3em / 7)); }
}

.small-mw {
  display: inline-block;
  max-width: 25em;
}

.large-mw {
  display: inline-block;
  max-width: 100em;
}
