hr {
  max-width: 12em;
}

.settings-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
  margin-bottom: 4em;
}

#banner {
  width: 200px;
  background-color: var(--banner);
  height: 50px;
  display: inline-block;
  border-radius: 0.2em;

  &.gradient {
    background: linear-gradient(90deg, var(--banner), var(--banner-two));
  }
}

.post-container {
  padding: 1em;
  background-color: var(--base);
  border-radius: 0.5em;
}

.post {
  margin: 0px;
}

@media screen and (max-width: 565px) {
  .post {
    width: calc(94vw - 3.5em - (3em / 7));
  }
}

.settings-side {
  display: inline-block;
  width: 20em;
}

.big-button {
  font-size: 1.5em;
  width: 6em;
  height: 2em;
  border-radius: 1em;
}
