.lists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  & > div {
    width: 100%;
    max-width: 25em;
    margin: 0 3em;
  }

  .post {
    width: 22.125em;
  }
}
