#banner {
  display: inline-block;
  border-radius: 1em;
  width: 35em;
  height: 6em;
  background-color: var(--banner);

  &.gradient {
    background: linear-gradient(90deg, var(--banner), var(--banner-two));
  }
}

#username-main {
  display: inline-block;
  font-size: 2em;
  position: relative;
  top: -1em;
  text-shadow: 0 0 20px var(--base), 0 0 19px var(--base),
               0 0 18px var(--base), 0 0 17px var(--base),
               0 0 16px var(--base), 0 0 15px var(--base),
               0 0 14px var(--base), 0 0 13px var(--base),
               0 0 12px var(--base), 0 0 11px var(--base);
}

#user-bio {
  position: relative;
  top: -1em;
  max-width: 35em;
  margin: 0 auto;
}

#secondary-username-container {
  position: relative;
  top: -2em;
}

#follow {
  display: inline-block;
}

#username-lower {
  display: inline-block;
  color: var(--subtext0);
}

@media screen and (max-width: 565px) {
  #banner {
    width: 94vw;
  }

  #user-bio {
    max-width: 94em;
  }

  #username-main {
    font-size: 1.5em;
    top: -1.25em;
  }
}

hr {
  max-width: 25em;
  margin-bottom: 2em;
}
