#banner {
  display: inline-block;
  border-radius: 1em;
  width: 35em;
  height: 6em;
  background-color: var(--banner);
}

#banner.gradient {
  background: linear-gradient(90deg, var(--banner), var(--banner-two));
}

#block {
  width: 6em;
}

#username-main {
  display: inline-block;
  font-size: 2em;
  position: relative;
  top: -1em;
  text-shadow: 0 0 20px var(--base),
               0 0 19px var(--base),
               0 0 18px var(--base),
               0 0 17px var(--base),
               0 0 16px var(--base),
               0 0 15px var(--base),
               0 0 14px var(--base),
               0 0 13px var(--base),
               0 0 12px var(--base),
               0 0 11px var(--base);
}

#follow {
  position: relative;
  top: -2em;
}

#user-bio {
  position: relative;
  top: -1em;
  max-width: 35em;
  margin: 0 auto;
}

#username-lower {
  position: relative;
  top: -2em;
  color: var(--subtext0);
}

[data-followed] {
  width: 6em;
}

@media screen and (max-width: 565px) {
  #banner { width: 94vw; }
  #user-bio { max-width: 94em; }

  #username-main {
    font-size: 1.5em;
    top: -1.25em;
  }
}
