save/
__pycache__/
.hintrc
.venv/

smiggins/collected-static/
smiggins/django_cache/
smiggins/static-custom/
smiggins/backend/_api_keys.py
smiggins/.env
smiggins/latest_scr
smiggins/admin.log
smiggins.json

*.sqlite3
