django # Web server backend
django-ninja # Handles API requests
python-dotenv # For more private settings
pywebpush # Encryption and handling for push notifications
pyyaml # For loading the settings.yaml file

pydantic==2.11.7 # Used by ninja for validation
