{% extends "base.html" %}

{% block title %}
  {{ lang.http.404.user_title  }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="author" content="{{ lang.http.404.user_title }}">
  <meta name="description" content="{{ SITE_NAME }} {{ VERSION }}">

  <meta property="og:title" content="{{ lang.http.404.user_title }}">
  <meta property="og:description" content="{{ SITE_NAME }} {{ VERSION }}">

  <meta name="twitter:title" content="{{ lang.http.404.user_title }}">
  <meta name="twitter:description" content="{{ SITE_NAME }} {{ VERSION }}">
{% endblock %}

{% block body %}
  <h1>{{ lang.http.404.user_title }}</h1>
  {{ lang.http.404.user_description }}<br>
  <a href="/home/">{{ lang.http.home }}</a>

  <script>
    home = true;
  </script>
{% endblock %}
