{% extends "base.html" %}

{% block title %}
  {{ lang.http.500.title  }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="author" content="{{ lang.http.500.title }}">
  <meta name="description" content="{{ SITE_NAME }} {{ VERSION }}">

  <meta property="og:title" content="{{ lang.http.500.title }}">
  <meta property="og:description" content="{{ SITE_NAME }} {{ VERSION }}">

  <meta name="twitter:title" content="{{ lang.http.500.title }}">
  <meta name="twitter:description" content="{{ SITE_NAME }} {{ VERSION }}">
{% endblock %}

{% block body %}
  <h1>{{ lang.http.500.title }}</h1>
  {{ lang.http.500.description }}<br>
  {{ lang.http.500.alt_description }}<br>
  <a href="/">{{ lang.http.home }}</a>

  <script>
    home = true;
  </script>
{% endblock %}
