<!DOCTYPE html>

<html>
  <head>
    <title>{{ lang.http.500.title }} - {{ SITE_NAME }} v{{ VERSION }}</title>
    {% autoescape off %}
    {{ HTML_HEADERS }}
    {% endautoescape %}
  </head>

  <body data-theme="{{ THEME }}">
    <h1>{{ lang.http.500.title }}</h1>
    <h3>{{ lang.http.500.description }}</h3>
    {{ lang.http.500.alt_description }}<br>
    <a href="/home">{{ lang.http.home }}</a>

    <script>
      home = true;
    </script>

    {% autoescape off %}
    {{ HTML_FOOTERS }}
    {% endautoescape %}
  </body>
</html>
