{% extends "base.html" %}
{% load smiggins_custom %}

{% block title %}
  {{ lang.admin.title }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block head %}
  <style>{% include "css/admin.css" %}</style>

  <script>
    const adminLevel = {{ LEVEL }};
  </script>
{% endblock %}

{% block body %}
  <h1>{{ lang.admin.title }}</h1>
  <div>&nbsp;<span id="error"></span>&nbsp;</div>

  <hr>

  <div class="actions-container">
    {% admin_level LEVEL mask.DELETE_POST as can %}
    {% if can and ENABLE_POST_DELETION == 'true' %}
      <div>
        <h3><label for="post-id">{{ lang.admin.post_deletion.title }}</label></h3>
        <div id="post-deletion">
          <input id="post-id" placeholder="{{ lang.admin.post_id_placeholder }}"><br>
          <label for="comment-toggle">{{ lang.admin.is_comment_label }}</label>
          <input id="comment-toggle" type="checkbox"><br>
          <button id="post-delete">{{ lang.admin.post_deletion.button }}</button>
        </div>
      </div>
    {% endif %}

    {% admin_level LEVEL mask.DELETE_USER as can %}
    {% if can %}
      <div>
        <h3><label for="account-del-identifier">{{ lang.admin.account_deletion.title }}</label></h3>
        <div>
          <input id="account-del-identifier" placeholder="{{ lang.admin.user_id_placeholder }}"><br>
          <label for="delete-id-toggle">{{ lang.admin.use_id_label }}</label>
          <input id="delete-id-toggle" type="checkbox"><br>
          <button id="account-delete">{{ lang.admin.account_deletion.button }}</button>
        </div>
      </div>
    {% endif %}

    {% admin_level LEVEL mask.CREATE_BADGE as bc %}
    {% admin_level LEVEL mask.DELETE_BADGE as bd %}
    {% admin_level LEVEL mask.GIVE_BADGE_TO_USER as bg %}
    {% any bc bd bg as badge %}
    {% if badge %}
      {% if ENABLE_BADGES == 'true' %}
        <div>
          {% if bg %}
            <h3><label for="badge-identifier">{{ lang.admin.badge.manage_title }}</label></h3>
            <input id="badge-identifier" placeholder="{{ lang.admin.user_id_placeholder }}"><br>
            <label for="badge-use-id">{{ lang.admin.use_id_label }}</label>
            <input id="badge-use-id" type="checkbox"><br>
            <label for="badge-name">{{ lang.admin.badge.name_label }}</label>
            <select id="badge-name">
              {% for BADGE in BADGE_DATA %}
                {% if BADGE != "administrator" %}
                  <option value="{{ BADGE }}">{{ BADGE }}</option>
                {% endif %}
              {% empty %}
                <option value="">{{ lang.admin.badge.manage_empty }}</option>
              {% endfor %}
            </select><br>
            <button id="badge-add">{{ lang.admin.badge.manage_add_button }}</button> <button id="badge-remove">{{ lang.admin.badge.manage_remove_button }}</button>
          {% endif %}

          {% if bc %}
            <h3><label for="badge-create-name">{{ lang.admin.badge.create_title }}</label></h3>
            <input id="badge-create-name" placeholder="{{ lang.admin.badge.name_placeholder }}" maxlength="64"><br>
            <label><textarea id="badge-create-data" placeholder="{{ lang.admin.badge.data_placeholder }}" maxlength="65536"></textarea></label><br>
            <button id="badge-create">{{ lang.admin.badge.create_button }}</button>
          {% endif %}

          {% if bd %}
            <h3><label for="badge-delete-name">{{ lang.admin.badge.delete_title }}</label></h3>
            <input id="badge-delete-name" placeholder="{{ lang.admin.badge.name_placeholder }}"><br>
            <button id="badge-delete">{{ lang.admin.badge.delete_button }}</button>
          {% endif %}
        </div>
      {% else %}
        <h3 class="red">{{ lang.admin.disabled.badge }}</h3>
      {% endif %}
    {% endif %}

    {% admin_level LEVEL mask.MODIFY_ACCOUNT as can %}
    {% if can %}
      <div>
        <h3><label for="data-identifier">{{ lang.admin.modify.title }}</label></h3>
        <input id="data-identifier" placeholder="{{ lang.admin.user_id_placeholder }}"><br>
        <label for="data-use-id">{{ lang.admin.use_id_label }}</label>
        <input type="checkbox" id="data-use-id"><br>
        <button id="data-get">{{ lang.admin.modify.get_button }}</button><br><br>

        <div id="data-section"></div>
      </div>
    {% endif %}

    {% admin_level LEVEL mask.ADMIN_LEVEL as can %}
    {% if can %}
      <div>
        <h3><label for="level-identifier">{{ lang.admin.permissions.title }}</label></h3>
        <input id="level-identifier" placeholder="{{ lang.admin.user_id_placeholder }}"><br>
        <label for="level-use-id">{{ lang.admin.use_id_label }}</label>
        <input id="level-use-id" type="checkbox"><br><br>

        <b>{{ lang.admin.permissions.label }}</b><br>
        <div id="level-selection">
          {% for lv in LEVEL_RANGE %}
            <p>
              <input type="checkbox" id="level-{{ lv }}"><label for="level-{{ lv }}">
                {{ lang.admin.permissions.descriptions|get:lv }}
                {% if permissions_disabled|get:lv %}
                  <span class="red">({{ lang.admin.disabled.generic }})</span>
                {% endif %}
                {% if lang.admin.permissions.descriptions_extra|get:lv %}
                  <small>{{ lang.admin.permissions.descriptions_extra|get:lv }}</small>
                {% endif %}
              </label>
            </p>
          {% endfor %}
        </div>

        <button id="level-set">{{ lang.admin.permissions.set }}</button>
        <button id="level-load">{{ lang.admin.permissions.load }}</button>
      </div>
    {% endif %}

    {% admin_level LEVEL mask.GENERATE_OTP as can %}
    {% if can %}
      {% if ENABLE_NEW_ACCOUNTS == "otp" %}
        <div>
          <h3>{{ lang.admin.otp.generate }}</h3>
          <button id="otp-create">{{ lang.admin.otp.generate_button }}</button>
          <div id="otp-generated"></div>
          <h3>{{ lang.admin.otp.all }}</h3>
          <button id="otp-load">{{ lang.admin.otp.all_button }}</button>
          <div id="otp-all"></div>
        </div>
      {% else %}
        <h3 class="red">{{ lang.admin.disabled.otp }}</h3>
      {% endif %}
    {% endif %}
  </div>

  {% admin_level LEVEL mask.READ_LOGS as can %}
  {% if can %}
    <br><br>
    <button id="load-logs">{{ lang.admin.logs.button }}</button>
    <div id="admin-logs"></div>
  {% endif %}

  <script>{% include "js/admin.js" %}</script>
{% endblock %}
