{% load static %}
{% load smiggins_custom %}

<!DOCTYPE html>

<html lang="{{ lang.meta.language }}">
  <head>
    <title>{% block title %}{{ SITE_NAME }} {{ VERSION }}{% endblock %}</title>

    <style id="theme-css"></style>

    {% if GOOGLE_VERIFICATION_TAG %}
      <meta name="google-site-verification" content="{{ GOOGLE_VERIFICATION_TAG }}">
    {% endif %}

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link data-set-favi-href data-favi-large rel="apple-touch-startup-image" href="{% static "img/old_favicon.png" %}?v={{ VERSION }}">
    <link data-set-favi-href data-favi-large rel="apple-touch-icon" href="{% static "img/old_favicon.png" %}?v={{ VERSION }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="pronouns" content="she/her">

    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="preload" href="{% static '/font/poppins-normal.woff' %}" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="{% static '/font/poppins-bold.woff' %}" as="font" type="font/woff" crossorigin>

    {% block meta %}
      <meta name="author" content="{{ SITE_NAME }}">
      <meta name="description" content="{{ VERSION }}">

      <meta property="og:title" content="{{ SITE_NAME }}">
      <meta property="og:description" content="{{ VERSION }}">

      <meta name="twitter:title" content="{{ SITE_NAME }}">
      <meta name="twitter:description" content="{{ VERSION }}">
    {% endblock %}

    <style>
      {% include "css/fonts.css" %}
      {% include "css/base.css" %}
    </style>

    <script>
      {% include "js/static/linkify/linkify.min.js" %}
      {% include "js/static/linkify/html.min.js" %}
      {% include "js/static/linkify/mentions.js" %}
      {% if ENABLE_HASHTAGS == "true" %}
        {% include "js/static/linkify/hashtags.js" %}
      {% endif %}
      {% include "js/static/base.js" %}
    </script>

    {% block head %}{% endblock %}
  </head>

  <body {% block body_head %}{% endblock %}>
    <script>{% include "js/favicon.js" %}</script>

    {% block body %}{% endblock %}

    <noscript>
      <h1>{{ lang.noscript.title }}</h1>
      <h2>{{ lang.noscript.subtitle }}</h2>
      {{ lang.noscript.tutorial_title }}<br>
      <ul>
        <li>{{ NOSCRIPT_CHROME }}</li>
        <li>{{ NOSCRIPT_FF }}</li>
      </ul>
    </noscript>

    <div id="toast"></div>
  </body>
</html>
