{% load static %}
{% load smiggins_custom %}

<!DOCTYPE html>

<html lang="{{ lang.meta.language }}">
  <head>
    <title>{% block title %}{{ SITE_NAME }} {{ VERSION }}{% endblock %}</title>

    <style id="theme-css"></style>

    <script>
      {% if ENABLE_BADGES == "true" %}
        const badges = JSON.parse('{{ badges_str|escapejs }}');
      {% endif %}
      const lang = JSON.parse('{{ lang_str|escapejs }}');

      const MAX_POST_LENGTH = {{ MAX_POST_LENGTH }};
      const MAX_POLL_OPTION_LENGTH = {{ MAX_POLL_OPTION_LENGTH }};
      const MAX_POLL_OPTIONS = {{ MAX_POLL_OPTIONS }};
      const MAX_CONTENT_WARNING_LENGTH = {{ MAX_CONTENT_WARNING_LENGTH }};

      const ENABLE_USER_BIOS = {{ ENABLE_USER_BIOS }};
      const ENABLE_PRONOUNS = {{ ENABLE_PRONOUNS }};
      const ENABLE_GRADIENT_BANNERS = {{ ENABLE_GRADIENT_BANNERS }};
      const ENABLE_BADGES = {{ ENABLE_BADGES }};
      const ENABLE_PRIVATE_MESSAGES = {{ ENABLE_PRIVATE_MESSAGES }};
      const ENABLE_QUOTES = {{ ENABLE_QUOTES }};
      const ENABLE_POST_DELETION = {{ ENABLE_POST_DELETION }};
      const ENABLE_PINNED_POSTS = {{ ENABLE_PINNED_POSTS }};
      const ENABLE_ACCOUNT_SWITCHER = {{ ENABLE_ACCOUNT_SWITCHER }};
      const ENABLE_POLLS = {{ ENABLE_POLLS }};
      const ENABLE_CONTENT_WARNINGS = {{ ENABLE_CONTENT_WARNINGS }};
      const ENABLE_EMAIL = {{ ENABLE_EMAIL }};

      const defaultPrivate = {{ DEFAULT_PRIVATE }};

      function getThemeAuto(defLight=JSON.parse('{{ DEFAULT_LIGHT_THEME|escapejs }}'), defDark=JSON.parse('{{ DEFAULT_DARK_THEME|escapejs }}')) {
        return `${getThemeCSS(defDark)} @media (prefers-color-scheme: light) { ${getThemeCSS(defLight)} }`
      }

      function getThemeCSS(theme) {
        return `body {
          --text: ${ theme.colors.text };
          --subtext: ${ theme.colors.subtext };
          --red: ${ theme.colors.red };
          --background: ${ theme.colors.background };
          --post-background: ${ theme.colors.post_background };
          --poll-voted-background: ${ theme.colors.poll_voted_background };
          --poll-no-vote-background: ${ theme.colors.poll_no_vote_background };
          --content-warning-background: ${ theme.colors.content_warning_background };
          --input-background: ${ theme.colors.input_background };
          --checkbox-background: ${ theme.colors.checkbox_background };
          --button-background: ${ theme.colors.button_background };
          --button-hover-background: ${ theme.colors.button_hover_background };
          --button-inverted-background: ${ theme.colors.button_inverted_background };
          --input-border: ${ theme.colors.input_border };
          --checkbox-border: ${ theme.colors.checkbox_border };
          --button-border: ${ theme.colors.button_border };
          --table-border: ${ theme.colors.table_border };
          --gray: ${ theme.colors.gray };
        }

        [data-color="gray"] { --accent: ${ theme.colors.gray }; --accent-50: ${ theme.colors.gray }80; }
        [data-color="rosewater"] { --accent: ${ theme.colors.accent.rosewater }; --accent-50: ${ theme.colors.accent.rosewater }80; }
        [data-color="flamingo"] { --accent: ${ theme.colors.accent.flamingo }; --accent-50: ${ theme.colors.accent.flamingo }80; }
        [data-color="pink"] { --accent: ${ theme.colors.accent.pink }; --accent-50: ${ theme.colors.accent.pink }80; }
        [data-color="mauve"], body:not([data-color]) { --accent: ${ theme.colors.accent.mauve }; --accent-50: ${ theme.colors.accent.mauve }80; }
        [data-color="red"] { --accent: ${ theme.colors.accent.red }; --accent-50: ${ theme.colors.accent.red }80; }
        [data-color="maroon"] { --accent: ${ theme.colors.accent.maroon }; --accent-50: ${ theme.colors.accent.maroon }80; }
        [data-color="peach"] { --accent: ${ theme.colors.accent.peach }; --accent-50: ${ theme.colors.accent.peach }80; }
        [data-color="yellow"] { --accent: ${ theme.colors.accent.yellow }; --accent-50: ${ theme.colors.accent.yellow }80; }
        [data-color="green"] { --accent: ${ theme.colors.accent.green }; --accent-50: ${ theme.colors.accent.green }80; }
        [data-color="teal"] { --accent: ${ theme.colors.accent.teal }; --accent-50: ${ theme.colors.accent.teal }80; }
        [data-color="sky"] { --accent: ${ theme.colors.accent.sky }; --accent-50: ${ theme.colors.accent.sky }80; }
        [data-color="sapphire"] { --accent: ${ theme.colors.accent.sapphire }; --accent-50: ${ theme.colors.accent.sapphire }80; }
        [data-color="blue"] { --accent: ${ theme.colors.accent.blue }; --accent-50: ${ theme.colors.accent.blue }80; }
        [data-color="lavender"] { --accent: ${ theme.colors.accent.lavender }; --accent-50: ${ theme.colors.accent.lavender }80; }`;
      }

      if ("{{ THEME|escapejs }}" !== "auto") {
        document.getElementById("theme-css").innerHTML = getThemeCSS(JSON.parse('{{ theme_str|escapejs }}'));
      } else {
        document.getElementById("theme-css").innerHTML = getThemeAuto();
      }
    </script>

    {% if GOOGLE_VERIFICATION_TAG %}
      <meta name="google-site-verification" content="{{ GOOGLE_VERIFICATION_TAG }}">
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="pronouns" content="she/her">

    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

    {% block meta %}
      <meta name="author" content="{{ SITE_NAME }}">
      <meta name="description" content="{{ VERSION }}">

      <meta property="og:title" content="{{ SITE_NAME }}">
      <meta property="og:description" content="{{ VERSION }}">

      <meta name="twitter:title" content="{{ SITE_NAME }}">
      <meta name="twitter:description" content="{{ VERSION }}">
    {% endblock %}

    <link rel="stylesheet" href="{% static "/css/base.css" %}?v={{ VERSION }}">

    <script src="{% static "/js/linkify/linkify.min.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "/js/linkify/html.min.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "/js/linkify/mentions.js" %}?v={{ VERSION }}"></script>

    {% if ENABLE_HASHTAGS == "true" %}
      <script src="{% static "/js/linkify/hashtags.js" %}?v={{ VERSION }}"></script>
    {% endif %}

    <script src="{% static "/js/base.js" %}?v={{ VERSION }}"></script>

    {% block head %}{% endblock %}
  </head>

  <body {% block body_head %}{% endblock %}>
    <script>
      let favicon = document.createElement("link");
      let oldFavicon = !!localStorage.getItem("old-favicon");

      // theme normalization when set to automatic
      function _updateAuto(event) {
        autoSetFavicon()
        // document.body.setAttribute("data-theme", event.matches ? "{{ DEFAULT_LIGHT_THEME }}" : "{{ DEFAULT_DARK_THEME }}");
      }

      function autoSetFavicon() {
        // favicon.href = `{% static "/img/favicons/" %}${event.matches ? "{{ DEFAULT_LIGHT_THEME }}" : "{{ DEFAULT_DARK_THEME }}"}-${validColors.indexOf(localStorage.getItem("color")) == -1 ? "mauve" : localStorage.getItem("color")}.ico?v={{ VERSION }}`;
      }

      function autoInit() {
        autoEnabled = true;

        if (_autoMM.matches) {
          // document.body.setAttribute("data-theme", "{{ DEFAULT_LIGHT_THEME }}");
        } else {
          // document.body.setAttribute("data-theme", "{{ DEFAULT_DARK_THEME }}");
        }

        if (!oldFavicon) {
          favicon.href = `{% static "/img/favicons/" %}${document.body.getAttribute("data-theme")}-${validColors.indexOf(localStorage.getItem("color")) == -1 ? "mauve" : localStorage.getItem("color")}.ico?v={{ VERSION }}`;
        }

        _autoMM.addEventListener("change", _updateAuto);
      }

      function autoCancel() {
        autoEnabled = false;
        _autoMM.removeEventListener("change", _updateAuto);
      }

      let autoEnabled = false;
      let _autoMM = matchMedia("(prefers-color-scheme: light)");

      if ("{{ THEME }}" == "auto") {
        autoInit();
      }

      // set proper favicon
      favicon.rel = "icon";
      favicon.type = "image/x-icon";

      if (oldFavicon) {
        favicon.href = "{% static "/img/old_favicon.ico" %}?v={{ VERSION }}";
      } else {
        favicon.href = `{% static "/img/favicons/" %}{{ THEME }}-${validColors.indexOf(localStorage.getItem("color")) == -1 ? "mauve" : localStorage.getItem("color")}.ico?v={{ VERSION }}`;
      }

      document.head.append(favicon);
    </script>

    {% block body %}{% endblock %}

    <noscript>
      <h1>{{ lang.noscript.title }}</h1>
      <h2>{{ lang.noscript.subtitle }}</h2>
      {{ lang.noscript.tutorial_title }}<br>
      <ul>
        <li>{{ NOSCRIPT_CHROME }}</li>
        <li>{{ NOSCRIPT_FF }}</li>
      </ul>
    </noscript>

    <script src="{% static "/js/base-footer.js" %}?v={{ VERSION }}"></script>
  </body>
</html>
