{% load static %}
{% load smiggins_custom %}

<!DOCTYPE html>

<html lang="{{ lang.meta.language }}">
  <head>
    <title>{% block title %}{{ SITE_NAME }} {{ VERSION }}{% endblock %}</title>

    <style id="theme-css"></style>

    <script>
      {% if ENABLE_BADGES == "true" %}
        const badges = JSON.parse('{{ badges_str|escapejs }}');
      {% endif %}
      const lang = JSON.parse('{{ lang_str|escapejs }}');

      const MAX_POST_LENGTH = {{ MAX_POST_LENGTH }};
      const MAX_POLL_OPTION_LENGTH = {{ MAX_POLL_OPTION_LENGTH }};
      const MAX_POLL_OPTIONS = {{ MAX_POLL_OPTIONS }};
      const MAX_CONTENT_WARNING_LENGTH = {{ MAX_CONTENT_WARNING_LENGTH }};

      const ENABLE_USER_BIOS = {{ ENABLE_USER_BIOS }};
      const ENABLE_PRONOUNS = {{ ENABLE_PRONOUNS }};
      const ENABLE_GRADIENT_BANNERS = {{ ENABLE_GRADIENT_BANNERS }};
      const ENABLE_BADGES = {{ ENABLE_BADGES }};
      const ENABLE_PRIVATE_MESSAGES = {{ ENABLE_PRIVATE_MESSAGES }};
      const ENABLE_QUOTES = {{ ENABLE_QUOTES }};
      const ENABLE_POST_DELETION = {{ ENABLE_POST_DELETION }};
      const ENABLE_PINNED_POSTS = {{ ENABLE_PINNED_POSTS }};
      const ENABLE_ACCOUNT_SWITCHER = {{ ENABLE_ACCOUNT_SWITCHER }};
      const ENABLE_POLLS = {{ ENABLE_POLLS }};
      const ENABLE_CONTENT_WARNINGS = {{ ENABLE_CONTENT_WARNINGS }};
      const ENABLE_EMAIL = {{ ENABLE_EMAIL }};
      const ENABLE_DYNAMIC_FAVICON = {{ ENABLE_DYNAMIC_FAVICON }};
      const ENABLE_NEW_ACCOUNTS = {% if ENABLE_NEW_ACCOUNTS == "otp" %}"otp"{% else %}{{ ENABLE_NEW_ACCOUNTS }}{% endif %};

      const isAdmin = "{{ is_admin }}" == "True";

      const defaultPrivate = {{ DEFAULT_PRIVATE }};

      {% if username %}
        localStorage.setItem("username", "{{ username }}");
      {% endif %}
    </script>

    {% if GOOGLE_VERIFICATION_TAG %}
      <meta name="google-site-verification" content="{{ GOOGLE_VERIFICATION_TAG }}">
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="pronouns" content="she/her">

    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="preload" href="{% static '/font/poppins-normal.woff' %}" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="{% static '/font/poppins-bold.woff' %}" as="font" type="font/woff" crossorigin>

    {% block meta %}
      <meta name="author" content="{{ SITE_NAME }}">
      <meta name="description" content="{{ VERSION }}">

      <meta property="og:title" content="{{ SITE_NAME }}">
      <meta property="og:description" content="{{ VERSION }}">

      <meta name="twitter:title" content="{{ SITE_NAME }}">
      <meta name="twitter:description" content="{{ VERSION }}">
    {% endblock %}

    <style>
      {% include "css/fonts.css" %}
      {% include "css/base.css" %}
    </style>

    <script>
      {% include "js/linkify/linkify.min.js" %}
      {% include "js/linkify/html.min.js" %}
      {% include "js/linkify/mentions.js" %}
      {% if ENABLE_HASHTAGS == "true" %}
        {% include "js/linkify/hashtags.js" %}
      {% endif %}
      {% include "js/base.js" %}
    </script>

    {% block head %}{% endblock %}
  </head>

  <body {% block body_head %}{% endblock %}>
    <script>{% include "js/favicon.js" %}</script>

    {% block body %}{% endblock %}

    <noscript>
      <h1>{{ lang.noscript.title }}</h1>
      <h2>{{ lang.noscript.subtitle }}</h2>
      {{ lang.noscript.tutorial_title }}<br>
      <ul>
        <li>{{ NOSCRIPT_CHROME }}</li>
        <li>{{ NOSCRIPT_FF }}</li>
      </ul>
    </noscript>

    <div id="toast"></div>

    <script>{% include "js/base-footer.js" %}</script>
    <script>{% include "js/keybinds.js" %}</script>
  </body>
</html>
