{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.changelog.title }} - {{ SITE_NAME }} v{{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="description" content="{{ lang.changelog.title }}">
  <meta name="author" content="{{ SITE_NAME }} v{{ VERSION }}">

  <meta property="og:title" content="{{ SITE_NAME }} v{{ VERSION }}">
  <meta property="og:description" content="{{ lang.changelog.title }}">

  <meta name="twitter:title" content="{{ SITE_NAME }} v{{ VERSION }}">
  <meta name="twitter:description" content="{{ lang.changelog.title }}">
{% endblock %}

{% block body %}
  <h1>{{ lang.changelog.title }}</h1>
  <h3>{{ SITE_NAME }} v{{ VERSION }}</h3>

  {% for version, changes in lang.changelog.changes.items %}
    <div>
      <div class="inline-block">
        <h3>{{ version }}</h3>
        <ul class="left">
          {% for _, change in changes.items %}
            <li>{{ change }}</li>
          {% empty %}
            <li>{{ lang.changelog.unknown }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}

  <script>
    home = true;
  </script>
{% endblock %}
