{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.contact.title }} - {{ SITE_NAME }} v{{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="description" content="social media thing">
  <meta name="author" content="{{ lang.contact.title }} - {{ SITE_NAME }} v{{ VERSION }}">

  <meta property="og:title" content="{{ lang.contact.title }} - {{ SITE_NAME }} v{{ VERSION }}">
  <meta property="og:description" content="social media thing">

  <meta name="twitter:title" content="{{ lang.contact.title }} - {{ SITE_NAME }} v{{ VERSION }}">
  <meta name="twitter:description" content="social media thing">
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static '/css/contact.css' %}?v={{ VERSION }}">
{% endblock %}

{% block body %}
  <h1>{{ lang.contact.subtitle }}</h1>
  <h2>{{ SITE_NAME }} v{{ VERSION }}</h2>
  <ul>
    {% for CONTACT in CONTACT_INFO %}
      <li>
        {% if CONTACT.0 == "email" %}
          <a href="mailto:{{ CONTACT.1 }}">{{ CONTACT.1 }}</a>
        {% elif CONTACT.0 == "url" %}
          <a href="{{ CONTACT.1 }}">{{ CONTACT.1 }}</a>
        {% else %}
          {{ CONTACT.1 }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <script>
    home = true;
  </script>
{% endblock %}
