{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.credits.title }} - {{ SITE_NAME }} v{{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="description" content="social media thing">
  <meta name="author" content="{{ lang.contact.title }} - {{ SITE_NAME }} v{{ VERSION }}">

  <meta property="og:title" content="{{ lang.contact.title }} - {{ SITE_NAME }} v{{ VERSION }}">
  <meta property="og:description" content="social media thing">

  <meta name="twitter:title" content="{{ lang.contact.title }} - {{ SITE_NAME }} v{{ VERSION }}">
  <meta name="twitter:description" content="social media thing">
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static '/css/contact.css' %}?v={{ VERSION }}">
{% endblock %}

{% block body %}
  <h1>{{ lang.credits.title }}</h1>
  <h2>{{ SITE_NAME }} v{{ VERSION }}</h2>

  <h3>{{ lang.credits.main_title }}</h3>
  <ul>
    <li>{{ lang.credits.lead }} <a href="https://{% if credits.lead.0.1 == "gh" %}github.com{% else %}git.gay{% endif %}/{{ credits.lead.0.0 }}/" target="_blank">{{ credits.lead.0.0 }}</a></li>
    <li>
      {{ lang.credits.contributors }}<br>
      <ul>
        {% for contrib in credits.contributors %}
          <li><a href="https://{% if contrib.1 == "gh" %}github.com{% else %}git.gay{% endif %}/{{ contrib.0 }}/" target="_blank">{{ contrib.0 }}</a></li>
        {% empty %}
          <li><i>None</i></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  {% if cache_langs %}
    <h3>{{ lang.credits.lang_title }}</h3>
    <ul>
      {% for l in langs %}
        <li>
          {{ l.name }}:<br>
          <ul>
            <li>
              {{ lang.credits.current }}<br>
              <ul>
                {% for m in l.maintainers %}
                  <li><a href="https://{% if m.1 == "gh" %}github.com{% else %}git.gay{% endif %}/{{ m.0 }}/" target="_blank">{{ m.0 }}</a></li>
                {% empty %}
                  <li><i>None</i></li>
                {% endfor %}
              </ul>
            </li>
            {% if l.num_past != 0 %}
              <li>
                {{ lang.credits.past}}<br>
                <ul>
                  {% for m in l.past_maintainers %}
                    <li><a href="https://{% if m.1 == "gh" %}github.com{% else %}git.gay{% endif %}/{{ m.0 }}/" target="_blank">{{ m.0 }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <h3>{{ lang.credits.other_title }}</h3>
  <ul>
    <li>{% autoescape off %}{{ fa }}{% endautoescape %}
  </ul>

  <script>
    home = true;
  </script>
{% endblock %}
