{% extends "base.html" %}
{% load static %}

{% block title %}
  #{{ HASHTAG }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="description" content="social media thing">
  <meta name="author" content="#{{ HASHTAG }} - {{ SITE_NAME }} {{ VERSION }}">

  <meta property="og:title" content="#{{ HASHTAG }} - {{ SITE_NAME }} {{ VERSION }}">
  <meta property="og:description" content="social media thing">

  <meta name="twitter:title" content="#{{ HASHTAG }} - {{ SITE_NAME }} {{ VERSION }}">
  <meta name="twitter:description" content="social media thing">
{% endblock %}

{% block head %}
  <style>{% include "css/home.css" %}</style>
{% endblock %}

{% block body %}
  <h1>#{{ HASHTAG }}</h1>
  {{ NUM_POSTS }} {% if NUM_POSTS == 1 %}{{ lang.hashtag.post_singular }}{% else %}{{ lang.hashtag.post_plural }}{% endif %}

  <p id="switch">
    <a data-timeline="random">{{ lang.hashtag.timeline.random }}</a> -
    <a data-timeline="recent" href="javascript:void(0);">{{ lang.hashtag.timeline.recent }}</a> -
    <a data-timeline="liked" href="javascript:void(0);">{{ lang.hashtag.timeline.liked }}</a>
  </p>

  <button id="refresh" onclick="refresh();">{{ lang.generic.refresh }}</button><br><br>
  <div id="error"></div>
  <div id="posts"></div>
  <button id="more" onclick="refresh(true)" hidden>{{ lang.generic.load_more }}</button>

  <script>
    const hashtag = "{{ HASHTAG }}";
  </script>

  <script>
    {% include "js/hashtag.js" %}
    {% include "js/timeline.js" %}
  </script>
{% endblock %}
