{% extends "base.html" %}
{% load static %}

{% block title %}
  #{{ HASHTAG }} - {{ SITE_NAME }} v{{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="description" content="social media thing">
  <meta name="author" content="#{{ HASHTAG }} - {{ SITE_NAME }} v{{ VERSION }}">

  <meta property="og:title" content="#{{ HASHTAG }} - {{ SITE_NAME }} v{{ VERSION }}">
  <meta property="og:description" content="social media thing">

  <meta name="twitter:title" content="#{{ HASHTAG }} - {{ SITE_NAME }} v{{ VERSION }}">
  <meta name="twitter:description" content="social media thing">
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
{% endblock %}

{% block body %}
  <h1>#{{ HASHTAG }}</h1>
  {{ NUM_POSTS }} {% if NUM_POSTS == 1 %}{{ lang.hashtag.post_singular }}{% else %}{{ lang.hashtag.post_plural }}{% endif %}<br><br>

  <div id="error"></div>

  <button onclick="refresh();">{{ lang.generic.refresh }}</button><br><br>

  <div id="posts"></div>
  <i id="more" hidden></i>

  <script>
    const hashtag = "{{ HASHTAG }}";
  </script>

  <script src="{% static '/js/hashtag.js' %}?v={{ VERSION }}"></script>
  <script src="{% static '/js/timeline.js' %}?v={{ VERSION }}"></script>
{% endblock %}
