{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.home.title }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block head %}
  {% if NO_CSS_MODE == "false" %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
  {% endif %}
{% endblock %}

{% block body %}
  <label for="default-private">{{ lang.post.type_followers_only }}:</label>
  <input id="default-private" type="checkbox" {% if DEFAULT_PRIVATE == "true" %}checked{% endif %}><br>

  {% if ENABLE_CONTENT_WARNINGS == 'true' %}
    <label>
      <input id="c-warning" maxlength="{{ MAX_CONTENT_WARNING_LENGTH }}" placeholder="{{ lang.home.c_warning_placeholder }}"><br>
    </label>
  {% endif %}

  <label>
    <textarea id="post-text" maxlength="{{ MAX_POST_LENGTH }}" placeholder="{{ lang.home.post_input_placeholder }}"></textarea>
  </label><br>
  <button id="post" class="inverted">{{ lang.generic.post }}</button>{% if NO_CSS_MODE == "false" %}<br>{% endif %}

  {% if ENABLE_POLLS == 'true' %}
    <button id="toggle-poll" class="inverted">{{ lang.home.poll }}</button>{% if NO_CSS_MODE == "false" %}<br>{% endif %}
    <div hidden id="poll"></div>
  {% endif %}

  <button onclick="refresh()">{{ lang.generic.refresh }}</button><br>
  <a id="switch" href="#"></a><br><br>
  <div id="error"></div>
  <div id="posts"></div>
  <button id="more" onclick="refresh(true)" hidden>{{ lang.generic.load_more }}</button>

  <script src="{% static '/js/home.js' %}?v={{ VERSION }}"></script>
  <script src="{% static '/js/timeline.js' %}?v={{ VERSION }}"></script>
{% endblock %}
