{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.home.title }} - {{ SITE_NAME }} v{{ VERSION }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
{% endblock %}

{% block body %}
  {% if ENABLE_CONTENT_WARNINGS == 'true' %}
    <input id="c-warning" maxlength="{{ MAX_CONTENT_WARNING_LENGTH }}" placeholder="{{ lang.home.c_warning_placeholder }}"><br>
  {% endif %}

  <textarea id="post-text" maxlength="{{ MAX_POST_LENGTH }}" placeholder="{{ lang.home.post_input_placeholder }}"></textarea><br>
  <button id="post" class="inverted">{{ lang.generic.post }}</button><br>

  {% if ENABLE_POLLS == 'true' %}
    <button id="toggle-poll" class="inverted">{{ lang.home.poll }}</button><br>
    <div hidden id="poll"></div>
  {% endif %}

  <button onclick="refresh()">{{ lang.generic.refresh }}</button><br>
  <a id="switch" href="#"></a><br><br>
  <div id="error"></div>
  <div id="posts"></div>
  <button id="more" onclick="refresh(true)" hidden>{{ lang.generic.load_more }}</button>

  <script src="{% static '/js/home.js' %}?v={{ VERSION }}"></script>
  <script src="{% static '/js/timeline.js' %}?v={{ VERSION }}"></script>
{% endblock %}
