{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>{{ lang.home.title }} - {{ SITE_NAME }} v{{ VERSION }}</title>
    {% autoescape off %}
    {{ HTML_HEADERS }}
    {% endautoescape %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
  </head>

  <body data-theme="{{ THEME }}">
    <textarea id="post-text" maxlength="{{ MAX_POST_LENGTH }}" placeholder="{{ lang.home.post_input_placeholder }}"></textarea><br>
    <button id="post" class="inverted">{{ lang.generic.post }}</button><br>
    <button onclick="refresh()">{{ lang.generic.refresh }}</button><br>
    <a id="switch" href="#"></a><br><br>
    <div id="error"></div>
    <div id="posts"></div>
    <button id="more" onclick="refresh(true)" hidden>{{ lang.generic.load_more }}</button>

    <script src="{% static '/js/home.js' %}?v={{ VERSION }}"></script>
    <script src="{% static '/js/timeline.js' %}?v={{ VERSION }}"></script>
    {% autoescape off %}
    {{ HTML_FOOTERS }}
    {% endautoescape %}
  </body>
</html>
