{% extends "base.html" %}
{% load static %}

{% block body %}
  <h1>{{ SITE_NAME }}</h1>
  <h3>{{ VERSION }}</h3>

  {% if ENABLE_NEW_ACCOUNTS == 'false' %}
    {{ lang.account.no_new }}<br>
  {% else %}
    <a href="/signup/">{{ lang.account.sign_up_title }}</a> -
  {% endif %}

  <a href="/login/">{{ lang.account.log_in_title }}</a>

  {% if SOURCE == "true" %}
    <br><br>
    <a href="https://github.com/jerimiah-smiggins/smiggins" target="_blank">{{ lang.generic.source_code }}</a>
  {% endif %}

  {% if DISCORD %}
    <br>
    {% if SOURCE == "false" %}
      <br>
    {% endif %}
    <a href="https://discord.gg/{{ DISCORD }}" target="_blank">{{ lang.generic.discord }}</a>
  {% endif %}

{% endblock %}
