{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.account.log_in_title }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="description" content="{{ lang.account.log_in_title }}">
  <meta name="author" content="{{ SITE_NAME }} {{ VERSION }}">

  <meta property="og:title" content="{{ SITE_NAME }} {{ VERSION }}">
  <meta property="og:description" content="{{ lang.account.log_in_title }}">

  <meta name="twitter:title" content="{{ SITE_NAME }} {{ VERSION }}">
  <meta name="twitter:description" content="{{ lang.account.log_in_title }}">
{% endblock %}

{% block body %}
  <h1>{{ lang.account.log_in_title }}</h1>
  <label><input id="username" maxlength="{{ MAX_USERNAME_LENGTH }}" placeholder="{{ lang.account.username_placeholder }}"></label><br>
  <label><input id="password" placeholder="{{ lang.account.password_placeholder }}" type="password"></label><br><br>
  <button id="submit">{{ lang.account.log_in_title }}</button><br><br>
  <button id="toggle-password">{{ lang.account.toggle_password }}</button><br><br>
  <a href="/signup/">{{ lang.account.sign_up_instead }}</a>

  {% if ENABLE_EMAIL == "true" %}
    <br><a href="/reset-password/">{{ lang.account.forgot_password }}</a>
  {% endif %}

  <div id="error"></div>

  <script>{% include "js/login.js" %}</script>
{% endblock %}
