{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.account.log_in_title }} - {{ SITE_NAME }} v{{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="description" content="{{ lang.account.log_in_title }}">
  <meta name="author" content="{{ SITE_NAME }} v{{ VERSION }}">

  <meta property="og:title" content="{{ SITE_NAME }} v{{ VERSION }}">
  <meta property="og:description" content="{{ lang.account.log_in_title }}">

  <meta name="twitter:title" content="{{ SITE_NAME }} v{{ VERSION }}">
  <meta name="twitter:description" content="{{ lang.account.log_in_title }}">
{% endblock %}

{% block head %}
  <script src="{% static "/js/check-logged-out.js" %}?v={{ VERSION }}"></script>
{% endblock %}

{% block body %}
  <h1>{{ lang.account.log_in_title }}</h1>
  <input id="username" maxlength="{{ MAX_USERNAME_LENGTH }}" placeholder="{{ lang.account.username_placeholder }}"><br>
  <input id="password" placeholder="{{ lang.account.password_placeholder }}" type="password"><br><br>
  <button id="submit">{{ lang.account.log_in_title }}</button><br><br>
  <button id="toggle-password">{{ lang.account.toggle_password }}</button><br><br>
  <a href="/signup/">{{ lang.account.sign_up_instead }}</a><br>

  {% if ENABLE_EMAIL == "true" %}
    <a href="/reset-password/">{{ lang.account.forgot_password }}</a>
  {% endif %}

  <div id="error"></div>

  <script src="{% static '/js/login.js' %}?v={{ VERSION }}"></script>
{% endblock %}
