<!DOCTYPE html>

<html>
  <head>
    <title>{{ lang.account.log_out_title }}</title>
    {% autoescape off %}
    {{ HTML_HEADERS }}
    {% endautoescape %}

    <meta name="description" content="Logout page">
    <meta name="author" content="{{ SITE_NAME }} v{{ VERSION }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ SITE_NAME }} v{{ VERSION }}">
    <meta property="og:description" content="Logout page">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ SITE_NAME }} v{{ VERSION }}">
    <meta name="twitter:description" content="Logout page">
  </head>

  <body data-theme="{{ THEME }}">
    {% autoescape off %}
    {{ lang.account.log_out_description }}
    {% endautoescape %}
    <script>
      localStorage.removeItem("home-page");
      localStorage.removeItem("username")
      eraseCookie("token");

      if (window.location.search == "?from=switcher") {
        window.location.href = "/login";
      } else {
        localStorage.removeItem("acc-switcher");
        window.location.href = "/";
      }
    </script>
  </body>
</html>
