{% extends "base.html" %}

{% block title %}
  {{ lang.account.log_out_title }} - {{ SITE_NAME }} v{{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="description" content="{{ lang.account.log_out_title }}">
  <meta name="author" content="{{ SITE_NAME }} v{{ VERSION }}">

  <meta property="og:title" content="{{ SITE_NAME }} v{{ VERSION }}">
  <meta property="og:description" content="{{ lang.account.log_out_title }}">

  <meta name="twitter:title" content="{{ SITE_NAME }} v{{ VERSION }}">
  <meta name="twitter:description" content="{{ lang.account.log_out_title }}">
{% endblock %}

{% block body %}
  {% autoescape off %}
  {{ lang.account.log_out_description }}
  {% endautoescape %}

  <script>
    localStorage.removeItem("home-page");
    localStorage.removeItem("username")
    eraseCookie("token");

    if (window.location.search == "?from=switcher") {
      window.location.href = "/login";
    } else {
      localStorage.removeItem("acc-switcher");
      window.location.href = "/";
    }
  </script>
{% endblock %}
