{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.messages.list_title }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block head %}
  {% if NO_CSS_MODE == "false" %}
    <link rel="stylesheet" href="{% static '/css/messages.css' %}?v={{ VERSION }}">
    <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
  {% endif %}
{% endblock %}

{% block body %}
  <h1>{{ lang.messages.list_subtitle }}</h1>
  <div id="error"></div>
  <button id="refresh" onclick="refreshMessageList(true);">{{ lang.generic.refresh }}</button><br><br>

  <div id="recent-list"></div>

  <button id="more" onclick="refreshMessageList();" hidden>{{ lang.generic.load_more }}</button>

  <script src="{% static '/js/messages.js' %}?v={{ VERSION }}"></script>
{% endblock %}
