{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Messaging {{ USERNAME }} - {{ SITE_NAME }} v{{ VERSION }}</title>
    {% autoescape off %}
    {{ HTML_HEADERS }}
    {% endautoescape %}

    <link rel="stylesheet" href="{% static '/css/messages.css' %}?v={{ VERSION }}">
  </head>

  <body data-theme="{{ THEME }}">
    <div class="messages-container">
      <div class="messages">
        <!-- <div class="message (send|recieve)">content</div> -->
        <button id="more" hidden>Load More...</button>
      </div>
      <textarea id="your-mom" placeholder="Message input"></textarea>
    </div>

    <script src="{% static '/js/message.js' %}?v={{ VERSION }}"></script>
    {% autoescape off %}
    {{ HTML_FOOTERS }}
    {% endautoescape %}
  </body>
</html>
