{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.notifications.title }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block head %}
  <style>
    {% include "css/home.css" %}
    {% include "css/notifications.css" %}
  </style>
{% endblock %}

{% block body %}
  <h1>{{ lang.notifications.title }}</h1>
  <div>&nbsp;<span id="error"></span>&nbsp;</div>
  <button id="refresh">{{ lang.generic.refresh }}</button> <button id="read">{{ lang.notifications.read }}</button><br><br>

  <div id="notif-container"></div>

  <script>
    {% include "js/notifications.js" %}
    {% include "js/timeline.js" %}
  </script>
{% endblock %}
