{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.notifications.title }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
  <link rel="stylesheet" href="{% static '/css/notifications.css' %}?v={{ VERSION }}">
{% endblock %}

{% block body %}
  <h1>{{ lang.notifications.title }}</h1>
  <div>&nbsp;<span id="error"></span>&nbsp;</div>
  <button id="refresh">{{ lang.generic.refresh }}</button> <button id="read">{{ lang.notifications.read }}</button><br><br>

  <div id="notif-container"></div>

  <script src="{% static '/js/notifications.js' %}?v={{ VERSION }}"></script>
  <script src="{% static '/js/timeline.js' %}?v={{ VERSION }}"></script>
{% endblock %}
