{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Notifications - {{ SITE_NAME }} v{{ VERSION }}</title>
    {% autoescape off %}
    {{ HTML_HEADERS }}
    {% endautoescape %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
    <link rel="stylesheet" href="{% static '/css/notifications.css' %}?v={{ VERSION }}">
  </head>

  <body data-theme="{{ THEME }}">
    <h1>Notifications</h1>
    <div>&nbsp;<span id="error"></span>&nbsp;</div>
    <button id="refresh">Refresh</button> <button id="read">Mark as read</button><br><br>

    <div id="notif-container"></div>

    <script src="{% static '/js/notifications.js' %}?v={{ VERSION }}"></script>
    {% autoescape off %}
    {{ HTML_FOOTERS }}
    {% endautoescape %}
  </body>
</html>
