{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.user_page.pending_title }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block head %}
  <style>{% include "css/home.css" %}</style>
{% endblock %}

{% block body %}
  <h1>{{ lang.user_page.pending_title }}</h1>
  <div id="error"></div>
  <button id="refresh" onclick="refreshPendingList(true);">{{ lang.generic.refresh }}</button><br><br>

  <div id="pending-list"></div>

  <button id="more" onclick="refreshPendingList();" hidden>{{ lang.generic.load_more }}</button>

  <script>{% include "js/pending.js" %}</script>
{% endblock %}
