{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>{{ DISPLAY_NAME }} - {{ SITE_NAME }} v{{ VERSION }}</title>
    {% autoescape off %}
    {{ HTML_HEADERS }}
    {% endautoescape %}

    <meta name="description" content="{{ CONTENT }}

Likes: {{ LIKES }} / Quotes: {{ QUOTES }} / Comments: {{ COMMENTS }}">
    <meta name="author" content="{{ DISPLAY_NAME }} on {{ SITE_NAME }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ DISPLAY_NAME }} on {{ SITE_NAME }}">
    <meta property="og:description" content="{{ CONTENT }}

Likes: {{ LIKES }} / Quotes: {{ QUOTES }} / Comments: {{ COMMENTS }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ DISPLAY_NAME }} on {{ SITE_NAME }}">
    <meta name="twitter:description" content="{{ CONTENT }}

Likes: {{ LIKES }} / Quotes: {{ QUOTES }} / Comments: {{ COMMENTS }}">

    <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
    <link rel="stylesheet" href="{% static '/css/post.css' %}?v={{ VERSION }}">
  </head>

  <body data-theme="{{ THEME }}">
    <div id="parent" hidden><a id="parent-link" href="#">Go to original post...</a></div>
    <div id="top" data-post-id="{{ POST_ID }}"></div>
    <textarea id="post-text" maxlength="{{ MAX_POST_LENGTH }}" placeholder="Got something to say about this?"></textarea><br id="hide-me">
    <button id="post">Post</button><br>
    <button onclick="refresh()">Refresh</button><br><br>
    <div id="error"></div>
    <div id="posts"></div>
    <div id="more-container"><button id="more" onclick="refresh(true)" hidden>Load more...</button></div>

    <script>
      const post_id = {{ POST_ID }};
      const comment = {{ COMMENT }};
      const logged_in = {{ LOGGED_IN }};
      let share = window.location.href;
      let home = true;

      {% autoescape off %}
      const post = {{ POST_JSON }};
      {% endautoescape %}

      if (post.parent && post.parent > 0) {
        dom("parent-link").href = `/${post.parent_is_comment ? 'c' : 'p'}/${post.parent}`;
        dom("parent").removeAttribute("hidden");
      }

      dom("top").innerHTML = getPostHTML(
        post,          // postJSON
        {{ COMMENT }}, // isComment
        true,          // includeUserLink
        false,         // includePostLink
        false,         // fakeMentions
        true           // pageFocus
      );
    </script>

    {% autoescape off %}
    {{ HTML_FOOTERS }}
    {% endautoescape %}
    <script src="{% static '/js/post.js' %}?v={{ VERSION }}"></script>
    <script src="{% static '/js/timeline.js' %}?v={{ VERSION }}"></script>
  </body>
</html>
