{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ DISPLAY_NAME }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="description" content="{{ CONTENT }}

{{ LIKES }} {% if ENABLE_QUOTES == 'true' %}/ {{ QUOTES }} {% endif %}/ {{ COMMENTS }}">
  <meta name="author" content="{{ EMBED_TITLE }}">

  <meta property="og:title" content="{{ EMBED_TITLE }}">
  <meta property="og:description" content="{{ CONTENT }}

{{ LIKES }} {% if ENABLE_QUOTES == 'true' %}/ {{ QUOTES }} {% endif %}/ {{ COMMENTS }}">

  <meta name="twitter:title" content="{{ EMBED_TITLE }}">
  <meta name="twitter:description" content="{{ CONTENT }}

{{ LIKES }} {% if ENABLE_QUOTES == 'true' %}/ {{ QUOTES }} {% endif %}/ {{ COMMENTS }}">
{% endblock %}

{% block head %}
  {% if NO_CSS_MODE == "false" %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
    <link rel="stylesheet" href="{% static '/css/post.css' %}?v={{ VERSION }}">
  {% endif %}
{% endblock %}

{% block body %}
  <div id="parent" hidden><a id="parent-link" href="#">{{ lang.post_page.comment_parent }}</a></div>
  <div id="top" data-post-id="{{ POST_ID }}">{{ CONTENT }}</div>

  {% if LOGGED_IN == 'true' %}
    <label for="default-private">{{ lang.post.type_followers_only }}:</label>
    <input id="default-private" type="checkbox" {% if DEFAULT_PRIVATE == "true" %}checked{% endif %}><br>

    {% if ENABLE_CONTENT_WARNINGS == 'true' %}
      <label><input id="c-warning" {% if C_WARNING %}value="re: {{ C_WARNING }}"{% endif %} maxlength="{{ MAX_CONTENT_WARNING_LENGTH }}" placeholder="{{ lang.home.c_warning_placeholder }}"></label><br>
    {% endif %}

    <label><textarea id="post-text" maxlength="{{ MAX_POST_LENGTH }}" placeholder="{{ lang.post_page.comment_input_placeholder }}"></textarea></label><br>
    <button id="post">{{ lang.generic.post }}</button><br>
  {% endif %}

  <button onclick="refresh()">{{ lang.generic.refresh }}</button><br><br>
  <div id="error"></div>
  <div id="posts"></div>
  <div id="more-container"><button id="more" onclick="refresh(true)" hidden>{{ lang.generic.load_more }}</button></div>

  <script>
    post_id = {{ POST_ID }};
    comment = {{ COMMENT }};
    logged_in = {{ LOGGED_IN }};
    share = window.location.href;
    home = true;

    const post = JSON.parse('{{ POST_JSON|escapejs }}');

    if (post.parent && post.parent > 0) {
      dom("parent-link").href = `/${post.parent_is_comment ? 'c' : 'p'}/${post.parent}`;
      dom("parent").removeAttribute("hidden");
    }

    dom("top").innerHTML = getPostHTML(
      post,          // postJSON
      {{ COMMENT }}, // isComment
      true,          // includeUserLink
      false,         // includePostLink
      false,         // fakeMentions
      true           // pageFocus
    );
  </script>

  <script src="{% static '/js/post.js' %}?v={{ VERSION }}"></script>
  <script src="{% static '/js/timeline.js' %}?v={{ VERSION }}"></script>
{% endblock %}
