{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.email.reset.html_title  }} - {{ SITE_NAME }} v{{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="author" content="{{ lang.email.reset.html_title }}">
  <meta name="description" content="{{ SITE_NAME }} v{{ VERSION }}">

  <meta property="og:title" content="{{ lang.email.reset.html_title }}">
  <meta property="og:description" content="{{ SITE_NAME }} v{{ VERSION }}">

  <meta name="twitter:title" content="{{ lang.email.reset.html_title }}">
  <meta name="twitter:description" content="{{ SITE_NAME }} v{{ VERSION }}">
{% endblock %}

{% block body %}
  <h1><label for="username">{{ lang.email.reset.html_title }}</label></h1>
  <input placeholder="{{ lang.account.username_placeholder }}" id="username"><br>
  <button id="submit">Submit</button><br><br>
  <a href="/login/">{{ lang.http.home }}</a><br><br>
  <div id="error"></div>

  <script src="{% static '/js/reset-password.js' %}?v={{ VERSION }}"></script>
{% endblock %}
