{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ lang.settings.title }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block head %}
  <style>
    {% include "css/home.css" %}
    {% include "css/settings.css" %}
  </style>
{% endblock %}

{% block body_head %}
  style="--banner: {{ BANNER_COLOR }}; --banner-two: {{ BANNER_COLOR_TWO }}"
{% endblock %}

{% block body %}
  <h1>{{ lang.settings.title }}</h1>
  <div>&nbsp;<span id="error"></span>&nbsp;</div>

  <hr><br>

  <button class="big-button primary" id="save">{{ lang.generic.save }}</button>

  <div class="settings-container">
    <div class="settings-side">
      <h2>{{ lang.settings.profile_title }}</h2>

      {{ lang.settings.profile_basic_title }}<br>
      <label><input id="displ-name" autocomplete="off" placeholder="{{ lang.settings.profile_display_name_placeholder }}" value="{{ DISPLAY_NAME }}" maxlength="{{ MAX_DISPL_NAME_LENGTH }}"></label><br>
      {% if ENABLE_USER_BIOS == 'true' %}
        <label><textarea id="bio" placeholder="{{ lang.settings.profile_bio_placeholder }}" maxlength="{{ MAX_BIO_LENGTH }}">{{ USER_BIO }}</textarea></label>
      {% endif %}<br><br>

      {% if ENABLE_PRONOUNS == 'true' %}
        {{ lang.settings.profile_pronouns_title }}<br>
        <table class="center">
          <tr>
            <td class="right"><label for="pronouns-primary">{{ lang.settings.profile_pronouns_primary }}</label></td>
            <td class="left">
              <select id="pronouns-primary">
                <option value="__">{{ lang.settings.profile_pronouns_unset }}</option>
                <option value="m">{{ lang.generic.pronouns.mm }}</option>
                <option value="o">{{ lang.generic.pronouns.oo }}</option>
                <option value="f">{{ lang.generic.pronouns.ff }}</option>
                <option value="n">{{ lang.generic.pronouns.nn }}</option>
                <option value="a">{{ lang.generic.pronouns.aa }}</option>
                <option value="_a">{{ lang.generic.pronouns.a }}</option>
                <option value="_v">{{ lang.generic.pronouns.v }}</option>
                <option value="_o">{{ lang.generic.pronouns.o }}</option>
              </select>
            </td>
          </tr>

          <tr id="pronouns-secondary-container">
            <td class="right"><label for="pronouns-secondary">{{ lang.settings.profile_pronouns_secondary }}</label></td>
            <td class="left">
              <select id="pronouns-secondary">
                <option value="i">{{ lang.settings.profile_pronouns_inherit }}</option>
                <option value="m">{{ lang.generic.pronouns.mm }}</option>
                <option value="o">{{ lang.generic.pronouns.oo }}</option>
                <option value="f">{{ lang.generic.pronouns.ff }}</option>
                <option value="n">{{ lang.generic.pronouns.nn }}</option>
                <option value="a">{{ lang.generic.pronouns.aa }}</option>
                <option value="x">{{ lang.generic.pronouns.o }}</option>
              </select>
            </td>
          </tr>
        </table><br>
      {% endif %}

      {{ lang.settings.profile_banner_title }}<br>
      <div id="banner"></div><br>
      <input aria-label="{{ lang.settings.profile_banner_title }}" id="banner-color" value="{{ BANNER_COLOR }}" type="color">
      {% if ENABLE_GRADIENT_BANNERS == 'true' %}
        <input aria-label="{{ lang.settings.profile_banner_title }}" hidden id="banner-color-two" value="{{ BANNER_COLOR_TWO }}" type="color"><br>
        <label for="banner-is-gradient">{{ lang.settings.profile_gradient }}</label>
        <input id="banner-is-gradient" {{ CHECKED_IF_GRADIENT }} type="checkbox">
      {% endif %}<br><br>

      <label for="default-post">{{ lang.settings.profile_default_post }}</label><br>
      <select id="default-post">
        <option value="public" {{ SELECTED_IF_PUBLIC }}>{{ lang.post.type_public }}</option>
        <option value="followers" {{ SELECTED_IF_PRIVATE }}>{{ lang.post.type_followers_only }}</option>
      </select><br><br>

      <label for="followers-approval">{{ lang.settings.profile_followers_approval }}</label>
      <input type="checkbox" id="followers-approval" {% if FOLLOWERS_REQUIRE_APPROVAL == 'true' %}checked{% endif %}>
    </div>

    <div>
      <h2>{{ lang.settings.cosmetic_title }}</h2>
      <label for="theme">{{ lang.settings.cosmetic_theme }}:</label><br>
      <select id="theme">
        <option {% if not user_theme_valid %}selected{% endif %} value="auto">{{ lang.settings.cosmetic_themes.auto }}</option>
        {% for t in themes %}
          <option {% if THEME == t.id %}selected{% endif %} value="{{ t.id }}">{{ t.name }}</option>
        {% endfor %}
      </select><br><br>

      <label for="lang">{{ lang.settings.cosmetic_language }}:</label><br>
      <select id="lang">
        {% for LANG in LANGUAGES %}
          <option value="{{ LANG.code }}" {% if LANG.code == LANGUAGE %}selected{% endif %}>{{ LANG.name }}</option>
        {% endfor %}
      </select><br><br>

      <label>
        {{ lang.settings.cosmetic_checkboxes }}
        <input id="disable-checkboxes" type="checkbox">
      </label><br><br>

      {{ lang.settings.cosmetic_bar }}:<br>
      <table class="center">
        <tr>
          <td class="right"><label for="bar-pos">{{ lang.settings.cosmetic_bar_position }}</label></td>
          <td class="left">
            <select id="bar-pos">
              <option value="ur">{{ lang.settings.cosmetic_bar_ur }}</option>
              <option value="lr">{{ lang.settings.cosmetic_bar_lr }}</option>
              <option value="ul">{{ lang.settings.cosmetic_bar_ul }}</option>
              <option value="ll">{{ lang.settings.cosmetic_bar_ll }}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="right"><label for="bar-dir">{{ lang.settings.cosmetic_bar_direction }}</label></td>
          <td class="left">
            <select id="bar-dir">
              <option value="h">{{ lang.settings.cosmetic_bar_h }}</option>
              <option value="v">{{ lang.settings.cosmetic_bar_v }}</option>
            </select>
          </td>
        </tr>
      </table><br><br>

      {% if ENABLE_DYNAMIC_FAVICON == "true" %}
        <label for="old-favi">{{ lang.settings.cosmetic_old_favicon }}</label>
        <input type="checkbox" id="old-favi"><br><br>
      {% endif %}

      <label for="color">{{ lang.settings.cosmetic_color }}:</label><br>
      <div id="color-selector"></div>
      <div id="post-example"></div>
    </div>

    <div class="settings-side">
      <h2>{{ lang.settings.account_title }}</h2>
      {{ lang.settings.account_password }}<br>
      <label><input type="password" autocomplete="off" placeholder="{{ lang.settings.account_password_current }}" id="current"></label><br>
      <label><input type="password" autocomplete="off" placeholder="{{ lang.settings.account_password_new }}" id="password"></label><br>
      <label><input type="password" autocomplete="off" placeholder="{{ lang.account.confirm_placeholder }}" id="confirm"></label><br>
      <button id="toggle-password">{{ lang.account.toggle_password }}</button>
      <button id="set-password">{{ lang.generic.save }}</button><br><br>

      {% if ENABLE_EMAIL == "true" %}
        <label for="email">{{ lang.settings.account_email }}</label><br>
        <input {% if has_email == "true" and email_valid == "true" %}disabled{% endif %} value="{{ email }}" id="email" type="email" placeholder="email@example.com"></br>
        <button id="email-submit">{% if has_email == "true" and email_valid == "true" %}{{ lang.settings.account_email_update }}{% else %}{{ lang.generic.save }}{% endif %}</button>
        <div id="email-output">{% if email_valid == "false" and has_email == "true" %}{{ lang.settings.account_email_verify }}{% endif %}</div><br><br>
      {% endif %}

      {{ lang.admin.account_deletion.title }}<br>
      <button id="delete-account">{{ lang.admin.account_deletion.button }}</button>

      {% if ENABLE_ACCOUNT_SWITCHER == "true" %}
        <br><br>
        <div id="switcher">
          <label for="accs">{{ lang.settings.account_switcher }}</label><br>
          <select id="accs"></select><br>
          <button id="acc-switch">{{ lang.settings.account_switcher_switch }}</button>
          <button id="acc-remove">{{ lang.settings.account_switcher_remove}}</button><br><br>
          <a href="/logout/?from=switcher">{{ lang.settings.account_switcher_add }}</a>
        </div>
      {% endif %}
    </div>
  </div>

  <a href="/logout/">{{ lang.settings.logout }}</a><br><br>

  {% if ADMIN == "true" %}
    <a href='/admin'>{{ lang.settings.admin }}</a><br>
  {% endif %}

  {% if SOURCE == "true" %}
    <a href="https://github.com/jerimiah-smiggins/smiggins" target="_blank">{{ lang.generic.source_code }}</a><br>
  {% endif %}

  {% if DISCORD %}
    <a href="https://discord.gg/{{ DISCORD }}" target="_blank">{{ lang.generic.discord }}</a><br>
  {% endif %}

  {% if ADMIN == "true" or SOURCE == "true" or DISCORD %}
    <br>
  {% endif %}
  <hr><br>

  {{ SITE_NAME }} {{ VERSION }}<br>

  {% if ENABLE_CHANGELOG_PAGE == 'true' %}
    <a href="/changelog/">{{ lang.changelog.title }}</a><br>
  {% endif %}

  {% if ENABLE_CONTACT_PAGE == 'true' %}
    <a href="/contact/">{{ lang.contact.title }}</a><br>
  {% endif %}

  {% if ENABLE_CREDITS_PAGE == 'true' %}
    <a href="/credits/">{{ lang.credits.title }}</a>
  {% endif %}

  <script>
    let user_pronouns = "{{ PRONOUNS }}";
    let hasEmail = {{ has_email }};
  </script>

  <script>{% include "js/settings.js" %}</script>
{% endblock %}
