{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Settings - {{ SITE_NAME }} v{{ VERSION }}</title>
    {% autoescape off %}
    {{ HTML_HEADERS }}
    {% endautoescape %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
    <link rel="stylesheet" href="{% static '/css/settings.css' %}?v={{ VERSION }}">
  </head>

  <body data-theme="{{ THEME }}" style="--banner: {{ BANNER_COLOR }}; --banner-two: {{ BANNER_COLOR_TWO }}">
    <h1>Settings</h1>
    <div>&nbsp;<span id="error"></span>&nbsp;</div>

    <hr><br>

    <button class="big-button primary" id="save">Save</button>

    <div class="settings-container">
      <div class="settings-side">
        <h2>Profile</h2>

        Basic information<br>
        <input id="displ-name" autocomplete="off" placeholder="Display name..." value="{{ DISPLAY_NAME }}" maxlength="{{ MAX_DISPL_NAME_LENGTH }}"><br>
        <textarea id="bio" placeholder="User bio..." maxlength="{{ MAX_BIO_LENGTH }}">{{ USER_BIO }}</textarea><br><br>

        Pronouns<br>
        <table class="center">
          <tr>
            <td class="right">Primary:</td>
            <td>
              <select id="pronouns-primary">
                <option value="__">unset</option>
                <option value="m">he/him</option>
                <option value="o">it/its</option>
                <option value="f">she/her</option>
                <option value="n">they/them</option>
                <option value="a">any/all</option>
                <option value="_a">ask pronouns</option>
                <option value="_v">avoid pronouns</option>
                <option value="_o">other</option>
              </select>
            </td>
          </tr>

          <tr id="pronouns-secondary-container">
            <td class="right">Secondary:</td>
            <td>
              <select id="pronouns-secondary">
                <option value="i">same as primary</option>
                <option value="m">he/him</option>
                <option value="o">it/its</option>
                <option value="f">she/her</option>
                <option value="n">they/them</option>
                <option value="a">any/all</option>
                <option value="x">other</option>
              </select>
            </td>
          </tr>
        </table><br>

        <script>
          let user_pronouns = "{{ PRONOUNS }}";
        </script>

        Banner color<br>
        <div id="banner"></div><br>
        <input id="banner-color" value="{{ BANNER_COLOR }}" type="color">
        <input hidden id="banner-color-two" value="{{ BANNER_COLOR_TWO }}" type="color"><br>
        Gradient banner? <input id="banner-is-gradient" {{ CHECKED_IF_GRADIENT }} type="checkbox"><br><br>

        Private account? <input type="checkbox" id="priv" {{ CHECKED_IF_PRIV }}><br>
        <div class="small-mw">If your account is private, that means only you and people you follow can see your posts.</div>
      </div>

      <div>
        <h2>Cosmetic</h2>
        Theme:<br>
        <select id="theme">
          <option {{ SELECTED_IF_LIGHT }} value="light">Dawn</option>
          <option {{ SELECTED_IF_GRAY }}  value="gray" >Dusk</option>
          <option {{ SELECTED_IF_DARK }}  value="dark" >Dark</option>
          <option {{ SELECTED_IF_BLACK }} value="black">Midnight</option>
          <option {{ SELECTED_IF_OLED }}  value="oled" >Black</option>
        </select><br><br>

        Color:<br>
        <div id="color-selector"></div>
        <div id="post-example"></div><br><br>
      </div>

      <div id="switcher" class="settings-side">
        <h2>Account</h2>
        Change Password<br>
        <input type="text" hidden disabled> <!-- this just prevents browsers from trying to autofill the display name box with the username even thoguh autocomplete is set to off -->
        <input type="password" autocomplete="off" placeholder="Current password..." id="current"><br>
        <input type="password" autocomplete="off" placeholder="New password..."     id="password"><br>
        <input type="password" autocomplete="off" placeholder="Confirm password..." id="confirm"><br>
        <button id="toggle-password">Toggle visibility</button>
        <button id="set-password">Save</button><br><br>

        Account Switcher<br>
        <select id="accs"></select><br>
        <button id="acc-switch">Switch</button>
        <button id="acc-remove">Remove</button><br><br>
        <a href="/logout?from=switcher">Add new account...</a>
      </div>
    </div>

    {% if ADMIN == "true" %}
      <a href='/admin'>Admin page</a><br>
    {% endif %}

    {% if SOURCE == "true" %}
      <a href="https://github.com/jerimiah-smiggins/smiggins" target="_blank">Source code</a><br>
    {% endif %}

    <a href="/logout">Log out of ALL accounts</a><br><br>

    {{ SITE_NAME }} v{{ VERSION }}

    <script src="{% static '/js/settings.js' %}?v={{ VERSION }}"></script>
    {% autoescape off %}
    {{ HTML_FOOTERS }}
    {% endautoescape %}
  </body>
</html>
