{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ DISPLAY_NAME }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block head %}
  {% if NO_CSS_MODE == "false" %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}?v={{ VERSION }}">
    <link rel="stylesheet" href="{% static '/css/user.css' %}?v={{ VERSION }}">
    <link rel="stylesheet" href="{% static '/css/user_lists.css' %}?v={{ VERSION }}">
  {% endif %}
{% endblock %}

{% block body_head %}
  style="--banner: {{ BANNER_COLOR }}; --banner-two: {{ BANNER_COLOR_TWO }}"
{% endblock %}

{% block body %}
  <div id="banner" class="{{ GRADIENT }}"></div>
  <div>
    <div id="username-main">
      {{ DISPLAY_NAME }}
      {% autoescape off %}
      {{ BADGES }}
      {% endautoescape %}
    </div>
  </div>

  <div id="secondary-username-container">
    <a href="/u/{{ USERNAME }}/" class="no-underline text">
      <div id="username-lower">@{{ USERNAME }}<span id="pronouns"></span></div><br>
      <div id="follow">{{ FOLLOWER_COUNT }} - {{ FOLLOWING_COUNT }}</div>
    </a>
    <div>{% if IS_BLOCKED == "true" %}{{ lang.account.follow_blocked }}{% elif IS_FOLLOWED == "true" %}{{ lang.user_page.follows }}{% endif %}</div>
  </div>

  {% if ENABLE_USER_BIOS == 'true' and IS_BLOCKED == "false" %}
    <div id="user-bio" data-linkify>{{ USER_BIO }}</div>
  {% endif %}

  <div class="lists-container">
    {% if INCLUDE_BLOCKS == "true" %}
      <div>
        <h2>{{ lang.user_page.lists_blocks }}</h2>
        {% for USER in BLOCKS %}
          <div class="post">
            <div class="upper-content">
              {% if NO_CSS_MODE == "false" %}
                <a href="/u/{{ USER.username }}/" class="no-underline text">
              {% endif %}
                <div class="displ-name">
                  <span style="--color-one: {{ USER.color_one }}; --color-two: {% if USER.is_gradient == 'true' %}{{ USER.color_two }}{% else %}{{ USER.color_one }}{% endif %}" class="user-badge banner-pfp"></span>

                  {{ USER.display_name }}
                  {% if USER.private == 'true' %}
                    <span class="user-badge" data-add-icon="lock"></span>
                  {% endif %}
                  {% for BADGE in USER.badges %}
                    <span aria-hidden="true" class="user-badge" data-add-badge="{{ BADGE }}"></span>
                  {% endfor %}
                  <span class="upper-lower-opacity">
                    {% if NO_CSS_MODE == "true" %}
                      <a href="/u/{{ USER.username }}/" class="no-underline text">
                    {% endif %}
                        <span class="username">@{{ USER.username }}</span>
                    {% if NO_CSS_MODE == "true" %}
                      </a>
                    {% endif %}
                  </span>
                </div>
              {% if NO_CSS_MODE == "false" %}
                </a>
              {% endif %}
            </div>

            {% if ENABLE_USER_BIOS == 'true' %}
              <div class="main-content">
                {% if USER.bio == EMPTY %}
                  <i>{{ lang.user_page.lists_no_bio }}</i>
                {% else %}
                  <div data-linkify>
                    {{ USER.bio }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div><br>
        {% empty %}
          <i>{{ lang.generic.none }}</i>
        {% endfor %}
      </div>
    {% endif %}

    <div>
      <h2>{{ lang.user_page.lists_following }}</h2>
      {% for USER in FOLLOWING %}
        <div class="post">
          <div class="upper-content">
            {% if NO_CSS_MODE == "false" %}
              <a href="/u/{{ USER.username }}/" class="no-underline text">
            {% endif %}
              <div class="displ-name">
                <span style="--color-one: {{ USER.color_one }}; --color-two: {% if USER.is_gradient == 'true' %}{{ USER.color_two }}{% else %}{{ USER.color_one }}{% endif %}" class="user-badge banner-pfp"></span>

                {{ USER.display_name }}
                {% if USER.private == 'true' %}
                  <span class="user-badge" data-add-icon="lock"></span>
                {% endif %}
                {% for BADGE in USER.badges %}
                  <span aria-hidden="true" class="user-badge" data-add-badge="{{ BADGE }}"></span>
                {% endfor %}
                <span class="upper-lower-opacity">
                  {% if NO_CSS_MODE == "true" %}
                    <a href="/u/{{ USER.username }}/" class="no-underline text">
                  {% endif %}
                      <span class="username">@{{ USER.username }}</span>
                  {% if NO_CSS_MODE == "true" %}
                    </a>
                  {% endif %}
                </span>
              </div>
            {% if NO_CSS_MODE == "false" %}
              </a>
            {% endif %}
          </div>

          {% if ENABLE_USER_BIOS == 'true' %}
            <div class="main-content">
              {% if USER.bio == EMPTY %}
                <i>{{ lang.user_page.lists_no_bio }}</i>
              {% else %}
                <div data-linkify>
                  {{ USER.bio }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div><br>
      {% empty %}
        <i>{{ lang.generic.none }}</i>
      {% endfor %}
    </div>

    <div>
      <h2>{{ lang.user_page.lists_followers }}</h2>
      {% for USER in FOLLOWERS %}
          <div class="post">
            <div class="upper-content">
              {% if NO_CSS_MODE == "false" %}
                <a href="/u/{{ USER.username }}/" class="no-underline text">
              {% endif %}
                <div class="displ-name">
                  <span style="--color-one: {{ USER.color_one }}; --color-two: {% if USER.is_gradient == 'true' %}{{ USER.color_two }}{% else %}{{ USER.color_one }}{% endif %}" class="user-badge banner-pfp"></span>

                  {{ USER.display_name }}
                  {% if USER.private == 'true' %}
                    <span class="user-badge" data-add-icon="lock"></span>
                  {% endif %}
                  {% for BADGE in USER.badges %}
                    <span aria-hidden="true" class="user-badge" data-add-badge="{{ BADGE }}"></span>
                  {% endfor %}
                  <span class="upper-lower-opacity">
                    {% if NO_CSS_MODE == "true" %}
                      <a href="/u/{{ USER.username }}/" class="no-underline text">
                    {% endif %}
                        <span class="username">@{{ USER.username }}</span>
                    {% if NO_CSS_MODE == "true" %}
                      </a>
                    {% endif %}
                  </span>
                </div>
              {% if NO_CSS_MODE == "false" %}
                </a>
              {% endif %}
            </div>

            {% if ENABLE_USER_BIOS == 'true' %}
              <div class="main-content">
                {% if USER.bio == EMPTY %}
                  <i>{{ lang.user_page.lists_no_bio }}</i>
                {% else %}
                  <div data-linkify>
                    {{ USER.bio }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div><br>
      {% empty %}
        <i>{{ lang.generic.none }}</i>
      {% endfor %}
    </div>
  </div>

  <script>
    [...document.querySelectorAll("[data-linkify]")].forEach((val, index) => {
      val.innerHTML = linkifyHtml(val.innerHTML, {
        formatHref: {
          mention: (href) => "/u" + href,
          hashtag: (href) => "/hashtag/" + href.slice(1)
        }
      });
    });
    home = true;
    share = window.location.href.split("/lists/")[0] + "/";

    {% if ENABLE_PRONOUNS == 'true' %}
      if (pronouns.{{ PRONOUNS }}) {
        dom("pronouns").innerText = " - " + pronouns.{{ PRONOUNS }};
      }
    {% endif %}
  </script>
{% endblock %}
