{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ DISPLAY_NAME }} - {{ SITE_NAME }} {{ VERSION }}
{% endblock %}

{% block meta %}
  <meta name="author" content="{{ DISPLAY_NAME }}">
  <meta name="description" content="{% if ENABLE_USER_BIOS == "true" %}{{ BIO }}

{% endif %}{{ FOLLOWER_COUNT }} // {{ FOLLOWING_COUNT }}">

  <meta property="og:title" content="{{ EMBED_TITLE }}">
  <meta property="og:description" content="{% if ENABLE_USER_BIOS == "true" %}{{ BIO }}

{% endif %}{{ FOLLOWER_COUNT }} // {{ FOLLOWING_COUNT }}">

  <meta name="twitter:title" content="{{ EMBED_TITLE }}">
  <meta name="twitter:description" content="{% if ENABLE_USER_BIOS == "true" %}{{ BIO }}

{% endif %}{{ FOLLOWER_COUNT }} // {{ FOLLOWING_COUNT }}">
{% endblock %}

{% block head %}
  <style>
    {% include "css/home.css" %}
    {% include "css/user.css" %}
  </style>
{% endblock %}

{% block body_head %}
  data-username="{{ USERNAME }}" style="--banner: {{ BANNER_COLOR }}; --banner-two: {{ BANNER_COLOR_TWO }}"
{% endblock %}

{% block body %}
  <div id="banner" class="{{ GRADIENT }}"></div>
  <div>
    <div id="username-main">
      {{ DISPLAY_NAME }}
      {% autoescape off %}
      {{ BADGES }}
      {% endautoescape %}
    </div>
  </div>

  <div id="secondary-username-container">
    <a href="/u/{{ USERNAME }}/lists/" class="no-underline text">
      <div id="username-lower">
        @{{ USERNAME }}
        {% if ENABLE_PRONOUNS == 'true' and PRONOUNS  %}
          <span id="pronouns">- {{ PRONOUNS }}</span>
        {% endif %}
      </div><br>
      <div id="follow">{{ FOLLOWER_COUNT }} - {{ FOLLOWING_COUNT }}</div>
    </a>
    <div>{% if IS_BLOCKED == "true" %}{{ lang.account.follow_blocked }}{% elif IS_FOLLOWED == "true" %}{{ lang.user_page.follows }}{% endif %}</div>
  </div>

  {% if ENABLE_USER_BIOS == 'true' %}<div id="user-bio" hidden>{{ BIO }}</div>{% endif %}

  {% if IS_BLOCKED == 'true' %}<div hidden>{% endif %}
    <button id="refresh" onclick="refresh()">{{ lang.generic.refresh }}</button>
    <button id="toggle" {{ IS_HIDDEN }} data-followed="{% if IS_FOLLOWING == "true" or IS_PENDING == "true" %}1{% else %}0{% endif %}" onclick="toggleFollow()">{% if IS_FOLLOWING == "true" %}{{ lang.user_page.unfollow }}{% elif IS_PENDING == "true" %}{{ lang.user_page.pending }}{% else %}{{ lang.user_page.follow }}{% endif %}</button>
  {% if IS_BLOCKED == 'true' %}</div>{% endif %}
    <button id="block" {{ IS_HIDDEN }} data-blocked="{% if IS_BLOCKING == "true" %}1{% else %}0{% endif %}" onclick="toggleBlock()">{% if IS_BLOCKING == "true" %}{{ lang.user_page.unblock }}{% else %}{{ lang.user_page.block }}{% endif %}</button>
  {% if IS_BLOCKED == 'true' %}<div hidden>{% endif %}
    {% if ENABLE_PRIVATE_MESSAGES == 'true' %}<button id="message" {{ IS_HIDDEN }} onclick="createMessage()">{{ lang.user_page.message }}</button>{% endif %}
  {% if IS_BLOCKED == 'true' %}</div>{% endif %}<br><br>

  <div id="pinned"></div>
  <div id="posts"></div>
  <div id="more-container"><button id="more" onclick="refresh(true)" hidden>{{ lang.generic.load_more }}</button></div>

  <script>
    logged_in = ({{ LOGGED_IN }});
  </script>

  <script>
    {% include "js/user.js" %}
    {% if IS_BLOCKED == "false" %}
      {% include "js/timeline.js" %}
    {% endif %}
  </script>
{% endblock %}
