@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

:root {
  --text: #e4e1ee;
  --background: #0e0a18;
  --primary: #aa9ae0;
  --secondary: #3a1e93;
  --accent: #eca0e0;
  --secondary-low-opacity: #3a1e9333;
}

::selection {
  background-color: var(--accent);
  color: var(--text);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Poppins';
  padding: 5vh 10vw;
  text-align: center;
}

button {
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  padding: 5px 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s
}

button:disabled { opacity: 60%; pointer-events: none; }
button:active { background-color: var(--accent); color: var(--background); scale: 90%; }

input, textarea, select, option {
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  border-radius: 2px;
  padding: 5px 7px;
  margin: 3px;
}

textarea { background-color: var(--secondary-low-opacity); }
textarea:disabled { opacity: 70%; pointer-events: none; }

a:link       { color: var(--primary); text-decoration: none; }
a:visited    { color: var(--primary); text-decoration: none; }
a:hover      { text-decoration: underline; }
a::selection { text-decoration-color: var(--text); }

i { opacity: 80%; }

p {
  margin: 0px;
  padding: 2px;
}

.left   { text-align: left;   }
.center { text-align: center; }
.right  { text-align: right;  }

.invis  { opacity: 0%; }
.hidden { display: none; }
.mono   { font-family: Cousine; }
