@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

:root {
  --text: #e4e1ee;
  --background: #0e0a18;
  --primary: #aa9ae0;
  --secondary: #3a1e93;
  --accent: #eca0e0;

  --text-low-opacity: #e4e1ee33;
  --background-low-opacity: #0e0a1833;
  --primary-low-opacity: #aa9ae033;
  --secondary-low-opacity: #3a1e9333;
  --accent-low-opacity: #eca0e066;
}

body[data-theme="light"] {
  --text: #14111d;
  --background: #eae6f4;
  --primary: #301f65;
  --secondary: #866be1;
  --accent: #5e1352;

  --text-low-opacity: #14111d33;
  --background-low-opacity: #eae6f433;
  --primary-low-opacity: #301f6533;
  --secondary-low-opacity: #866be133;
  --accent-low-opacity: #5e135266;
}

::-moz-selection {
  background-color: var(--accent-low-opacity);
  color: var(--text);
}

::selection {
  background-color: var(--accent-low-opacity);
  color: var(--text);
}

body::-webkit-scrollbar { display: none; }

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Poppins';
  padding: 5vh 0;
  text-align: center;
  font-size: 14px;
  margin: 0px;
  overflow-x: hidden;
  word-wrap: break-word;
}

@media screen and (min-width: 1025px) {
  body { font-size: 16px; }
}

@media screen and (max-width: 565px) {
  body { font-size: 16px; padding: 5vh 3vw; }
}

button {
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  padding: 5px 7px;
  border-radius: 10px;
  cursor: pointer;
  transition-property: color;
  transition: 0.15s;
  font-size: 0.8em;
  transition: color 0.15s,
              background-color 0.15s,
              scale 0.15s;
}

button:disabled { opacity: 60%; pointer-events: none; }
button:active { background-color: var(--accent); color: var(--background); scale: 90%; }

input, textarea, option, select{
  background-color: var(--secondary-low-opacity);
  color: var(--text);
  border: none;
  border-radius: 2px;
  padding: 5px 7px;
  margin: 3px;
  font-family: 'Poppins' sans-serif, 'Poppins' monospace;
  font-size: 0.8em;
}

select { background-color: var(--secondary); }

textarea { background-color: var(--secondary-low-opacity); }
textarea:disabled { opacity: 70%; pointer-events: none; }

a:link       { color: var(--primary); text-decoration: none; }
a:visited    { color: var(--primary); text-decoration: none; }
a:hover      { text-decoration: underline; }
a::-moz-selection { text-decoration-color: var(--text); }
a::selection { -webkit-text-decoration-color: var(--text); text-decoration-color: var(--text); }

i { opacity: 80%; }

p {
  margin: 0px;
  padding: 2px;
}

.left   { text-align: left;   }
.center { text-align: center; }
.right  { text-align: right;  }

.invis  { opacity: 0%; }
.hidden { display: none; }
.mono   { font-family: 'Cousine'; }
.no-underline { text-decoration: none !important; }

.icons a {
  position: fixed;
  left: 1em;
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
}

.icons svg {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  fill: var(--text);
  stroke: none;
}

.icons a.settings { top: 1em; }
.icons a.home { top: 3.5em; }
