body:not([data-color]), [data-color="purple"] {
  --text: #e4e1ee;
  --background: #0e0a18;
  --primary: #aa9ae0;
  --secondary: #3a1e93;
  --accent: #eca0e0;

  --text-low-opacity: #e4e1ee33;
  --background-low-opacity: #0e0a1833;
  --primary-low-opacity: #aa9ae033;
  --secondary-low-opacity: #3a1e9333;
  --accent-low-opacity: #eca0e066;
}

body[data-theme="light"]:not([data-color]), body[data-theme="light"][data-color="purple"], body[data-theme="light"] [data-color="purple"] {
  --text: #14111d;
  --background: #eae6f4;
  --primary: #301f65;
  --secondary: #866be1;
  --accent: #5e1352;

  --text-low-opacity: #14111d33;
  --background-low-opacity: #eae6f433;
  --primary-low-opacity: #301f6533;
  --secondary-low-opacity: #866be133;
  --accent-low-opacity: #5e135266;
}

[data-color="pinkgreen"] {
  --text: #f2fdf9;
  --background: #010e09;
  --primary: #eb8eb0;
  --secondary: #0f523a;
  --accent: #e04d83;

  --text-low-opacity: #f2fdf933;
  --background-low-opacity: #010e0933;
  --primary-low-opacity: #eb8eb033;
  --secondary-low-opacity: #0f523a33;
  --accent-low-opacity: #e04d8366;
}

body[data-theme="light"][data-color="pinkgreen"], body[data-theme="light"] [data-color="pinkgreen"] {
  --text: #020d09;
  --background: #f1fef9;
  --primary: #711436;
  --secondary: #adf0d9;
  --accent: #b21f55;

  --text-low-opacity: #020d0933;
  --background-low-opacity: #f1fef933;
  --primary-low-opacity: #71143633;
  --secondary-low-opacity: #adf0d933;
  --accent-low-opacity: #b21f5566;
}

[data-color="bluered"] {
  --text: #d1fade;
  --background: #021208;
  --primary: #ea2a4d;
  --secondary: #410631;
  --accent: #61efd5;

  --text-low-opacity: #d1fade33;
  --background-low-opacity: #02120833;
  --primary-low-opacity: #ea2a4d33;
  --secondary-low-opacity: #41063133;
  --accent-low-opacity: #61efd566;
}

body[data-theme="light"][data-color="bluered"], body[data-theme="light"] [data-color="bluered"] {
  --text: #052e12;
  --background: #edfdf3;
  --primary: #d51538;
  --secondary: #f9bee8;
  --accent: #109e84;

  --text-low-opacity: #052e1233;
  --background-low-opacity: #edfdf333;
  --primary-low-opacity: #d5153833;
  --secondary-low-opacity: #f9bee833;
  --accent-low-opacity: #109e8466;
}

[data-color="blueyellow"] {
  --text: #e5ebfa;
  --background: #050c1f;
  --primary: #d4a025;
  --secondary: #45360c;
  --accent: #dd6040;

  --text-low-opacity: #e5ebfa33;
  --background-low-opacity: #050c1f33;
  --primary-low-opacity: #d4a02533;
  --secondary-low-opacity: #45360c33;
  --accent-low-opacity: #dd604066;
}

body[data-theme="light"][data-color="blueyellow"], body[data-theme="light"] [data-color="blueyellow"] {
  --text: #050b1a;
  --background: #e0e7fa;
  --primary: #c48e1a;
  --secondary: #f3e2ba;
  --accent: #bf4122;

  --text-low-opacity: #050b1a33;
  --background-low-opacity: #e0e7fa33;
  --primary-low-opacity: #c48e1a33;
  --secondary-low-opacity: #f3e2ba33;
  --accent-low-opacity: #bf412266;
}

[data-color="pink"] {
  --text: #fbeffb;
  --background: #180718;
  --primary: #e090b8;
  --secondary: #4c1529;
  --accent: #d15c89;

  --text-low-opacity: #fbeffb33;
  --background-low-opacity: #18071833;
  --primary-low-opacity: #e090b833;
  --secondary-low-opacity: #4c152933;
  --accent-low-opacity: #d15c8966;
}

body[data-theme="light"][data-color="pink"], body[data-theme="light"] [data-color="pink"] {
  --text: #100410;
  --background: #f8e7f8;
  --primary: #6f1f47;
  --secondary: #eab3b3;
  --accent: #a32e5d;

  --text-low-opacity: #10041033;
  --background-low-opacity: #f8e7f833;
  --primary-low-opacity: #6f1f4733;
  --secondary-low-opacity: #eab3b333;
  --accent-low-opacity: #a32e5d66;
}

[data-color="blue"] {
  --text: #eef5f7;
  --background: #080f11;
  --primary: #5e77b5;
  --secondary: #1a152d;
  --accent: #6e5bb3;

  --text-low-opacity: #eef5f733;
  --background-low-opacity: #080f1133;
  --primary-low-opacity: #5e77b533;
  --secondary-low-opacity: #1a152d33;
  --accent-low-opacity: #6e5bb366;
}

body[data-theme="light"][data-color="blue"], body[data-theme="light"] [data-color="blue"] {
  --text: #080f11;
  --background: #eef5f7;
  --primary: #4a62a1;
  --secondary: #d7d2ea;
  --accent: #5f4ca4;

  --text-low-opacity: #080f1133;
  --background-low-opacity: #eef5f733;
  --primary-low-opacity: #4a62a133;
  --secondary-low-opacity: #d7d2ea33;
  --accent-low-opacity: #5f4ca466;
}

[data-color="green"] {
  --text: #eef7ef;
  --background: #000f00;
  --primary: #4d9d7d;
  --secondary: #142829;
  --accent: #85ad87;

  --text-low-opacity: #eef7ef33;
  --background-low-opacity: #000f0033;
  --primary-low-opacity: #4d9d7d33;
  --secondary-low-opacity: #14282933;
  --accent-low-opacity: #85ad8766;
}

body[data-theme="light"][data-color="green"], body[data-theme="light"] [data-color="green"] {
  --text: #081109;
  --background: #f0fff0;
  --primary: #379f76;
  --secondary: #d6eaeb;
  --accent: #527a54;

  --text-low-opacity: #08110933;
  --background-low-opacity: #f0fff033;
  --primary-low-opacity: #379f7633;
  --secondary-low-opacity: #d6eaeb33;
  --accent-low-opacity: #527a5466;
}

[data-color="orange"] {
  --text: #f2e5de;
  --background: #100905;
  --primary: #e0a88a;
  --secondary: #8c431d;
  --accent: #e17037;

  --text-low-opacity: #f2e5de33;
  --background-low-opacity: #10090533;
  --primary-low-opacity: #e0a88a33;
  --secondary-low-opacity: #8c431d33;
  --accent-low-opacity: #e1703766;
}

body[data-theme="light"][data-color="orange"], body[data-theme="light"] [data-color="orange"] {
  --text: #21140d;
  --background: #faf3ef;
  --primary: #753d1f;
  --secondary: #e29a73;
  --accent: #c8561e;

  --text-low-opacity: #21140d33;
  --background-low-opacity: #faf3ef33;
  --primary-low-opacity: #753d1f33;
  --secondary-low-opacity: #e29a7333;
  --accent-low-opacity: #c8561e66;
}

[data-color="red"] {
  --text: #ffd6d6;
  --background: #0f0000;
  --primary: #fe8b8b;
  --secondary: #460101;
  --accent: #f40101;

  --text-low-opacity: #ffd6d633;
  --background-low-opacity: #0f000033;
  --primary-low-opacity: #fe8b8b33;
  --secondary-low-opacity: #46010133;
  --accent-low-opacity: #f4010166;
}

body[data-theme="light"][data-color="red"], body[data-theme="light"] [data-color="red"] {
  --text: #290000;
  --background: #fff0f0;
  --primary: #740101;
  --secondary: #feb9b9;
  --accent: #fe0b0b;

  --text-low-opacity: #29000033;
  --background-low-opacity: #fff0f033;
  --primary-low-opacity: #74010133;
  --secondary-low-opacity: #feb9b933;
  --accent-low-opacity: #fe0b0b66;
}

[data-color="purple2"] {
  --text: #e4e3f2;
  --background: #0b0408;
  --primary: #d295fe;
  --secondary: #2e2877;
  --accent: #ba5de5;

  --text-low-opacity: #e4e3f233;
  --background-low-opacity: #0b040833;
  --primary-low-opacity: #d295fe33;
  --secondary-low-opacity: #2e287733;
  --accent-low-opacity: #ba5de566;
}

body[data-theme="light"][data-color="purple2"], body[data-theme="light"] [data-color="purple2"] {
  --text: #0e0d1c;
  --background: #fbf4f8;
  --primary: #3e016a;
  --secondary: #8f88d7;
  --accent: #771aa2;

  --text-low-opacity: #0e0d1c33;
  --background-low-opacity: #fbf4f833;
  --primary-low-opacity: #3e016a33;
  --secondary-low-opacity: #8f88d733;
  --accent-low-opacity: #771aa266;
}

[data-color="redblack"] {
  --text: #ecdfdf;
  --background: #000000;
  --primary: #e43f3f;
  --secondary: #972424;
  --accent: #d37272;

  --text-low-opacity: #ecdfdf33;
  --background-low-opacity: #00000033;
  --primary-low-opacity: #e43f3f33;
  --secondary-low-opacity: #97242433;
  --accent-low-opacity: #d3727266;
}

body[data-theme="light"][data-color="redblack"], body[data-theme="light"] [data-color="redblack"] {
  --text: #201313;
  --background: #ffffff;
  --primary: #c20000;
  --secondary: #e59090;
  --accent: #c24e4e;

  --text-low-opacity: #20131333;
  --background-low-opacity: #ffffff33;
  --primary-low-opacity: #c2000033;
  --secondary-low-opacity: #e5909033;
  --accent-low-opacity: #c24e4e66;
}
