{% include "snippets/generic/page-start.html" %}

<h1 class="no-margin-top no-margin-bottom">Administration</h1>
<hr class="no-margin-bottom">

<div id="settings-sections">
  {% if admin.DELETE_POST %}
    <div>
      <h2 class="no-margin-top">Delete Posts</h2>
      <div><label>Post ID: <input data-enter-submit="#delete-post" id="delete-post-id" type="number" placeholder="1234"></label></div>
      <p class="no-margin-bottom"><button id="delete-post">Delete Post</button></p>
    </div>
  {% endif %}

  {% if admin.DELETE_USER %}
    <div>
      <h2 class="no-margin-top">Delete User</h2>
      <div><label>Username: <input data-enter-submit="#delete-user-confirm" data-enter-submit="#delete-user" id="delete-user-username" placeholder="badperson"></label></div>
      <div><label>
        <input type="checkbox" id="delete-user-confirm" data-enter-submit="#delete-user">
        I confirm that this is the user I would like to <span class="warning">permanently delete</span>.
      </label></div>
      <p class="no-margin-bottom"><button id="delete-user">Delete User</button></p>
    </div>
  {% endif %}

  {% if admin.GENERATE_OTP and conf.new_accounts == "otp" %}
    <div>
      <h2 class="no-margin-top">Invite Codes</h2>
      <p class="no-margin-bottom"><button id="generate-otp">Generate Code</button></p>
      <div hidden id="generate-otp-output" class="generic-margin-top"></div>
      <p class="no-margin-bottom"><button id="list-otps">List Valid Codes</button></p>
      <div hidden id="otp-list" class="generic-margin-top"></div>
    </div>
  {% endif %}

  {% if admin.SET_ADMIN_LVL %}
    <div>
      <h2 class="no-margin-top">Admin Permissions</h2>
      <div><label>Username: <input data-enter-submit="#delete-user-confirm" data-enter-submit="#delete-user" id="permissions-username" placeholder="newadmin"></label></div>

      <div><label><input type="checkbox" data-admin-permissions="0"> Delete Posts</label></div>
      <div><label><input type="checkbox" data-admin-permissions="1"> Delete Users</label></div>
      {% if conf.new_accounts == "otp" %}<div><label><input type="checkbox" data-admin-permissions="9"> Generate Invite Codes</label></div>{% endif %}
      <div><label><input type="checkbox" data-admin-permissions="7"> Set Admin Permissions</label></div>
      <small><div>Allows setting permissions for <b>both self and others</b>, including permissions they don't have</div></small>

      <p class="no-margin-bottom">
        <button id="permissions-load">Load Current Permissions</button>
        <button id="permissions-save">Save Permissions</button>
      </p>
    </div>
  {% endif %}
</div>

<hr class="no-margin-top">

{% include "snippets/generic/page-end.html" %}
