{% include "snippets/generic/page-start.html" %}

<h1 id="tag" class="no-margin-top no-margin-bottom">#@{tag}</h1>
<hr>

<div id="timeline-carousel" class="generic-margin-bottom">
  <div data-timeline-id="hashtag_@{tag}_recent" data-timeline-active>@{lang.timeline.newest}</div>
  <div data-timeline-id="hashtag_@{tag}_oldest">@{lang.timeline.oldest}</div>
</div>


<div id="timeline-posts"></div>
<button id="timeline-more" hidden>@{lang.generic.load_more}</button>

{% include "snippets/generic/page-end.html" %}
