<h1 class="no-margin-top">Log In</h1>

<div><input data-enter-next="#password" data-enter-submit="#submit" id="username" placeholder="Username" maxlength="{{ conf.max_length.username }}"></div>
<div><input data-enter-submit="#submit" id="password" placeholder="Password" type="password"></div>
<p><button id="submit">Log In</button> <button data-password-toggle>Toggle Passwords</button></p>

{% if conf.new_accounts %}
  <div>Don't have an account? <a data-internal-link="signup" href="/signup/">Sign up</a></div>
{% endif %}
