{% include "snippets/generic/page-start.html" %}

<a id="comment-parent" href="/p/@{parent}/" @{hidden_if_not_comment} data-internal-link="post"><div>@{lang.post.parent_link}</div></a>
{% if logged_in %}
  <a id="home-link" href="/" @{hidden_if_comment} data-internal-link="home"><div>@{lang.post.home_link}</div></a>
{% else %}
  <a id="home-link" href="/signup/" @{hidden_if_comment} data-internal-link="signup"><div>@{lang.login.sign_up_button}</div></a>
{% endif %}

<hr class="no-margin-bottom">
<div id="focused-post"></div>

{% if logged_in %}
  <hr class="no-margin-top no-margin-bottom">
  <div class="compose-box no-margin-top">
    <div><input data-enter-next="#post-content" data-enter-submit="#post" id="post-cw" placeholder="@{lang.post.cw_placeholder}" maxlength="{{ conf.max_length.cw }}"></div>
    <div><textarea data-enter-next="!avoid" data-enter-submit="#post" id="post-content" placeholder="@{lang.post.comment_placeholder.0}" maxlength="{{ conf.max_length.post }}"></textarea></div>
    <div class="post-options">
      <div><label><input type="checkbox" id="post-private" @{checked_if_private}> @{lang.post.followers_only}</label></div>
      <div class="flex-spacer"></div>
      <div><button data-button-alt-colors id="post">@{lang.post.comment_button}</button></div>
    </div>
  </div>
  <hr>
{% else %}
  <hr class="no-margin-top">
{% endif %}


<div id="timeline-carousel" class="generic-margin-bottom">
  <div data-timeline-id="post_@{pid}_recent" data-timeline-active>@{lang.timeline.newest}</div>
  <div data-timeline-id="post_@{pid}_oldest">@{lang.timeline.oldest}</div>
</div>

<div id="timeline-posts"></div>
<button id="timeline-more" hidden>@{lang.generic.load_more}</button>

{% include "snippets/generic/page-end.html" %}
