{% include "snippets/generic/page-start.html" with active_page="search" %}

<h1 class="no-margin-top no-margin-bottom">@{lang.titles.search}</h1>
<hr class="no-margin-bottom">

<div><input id="search-content" placeholder="@{lang.search.content_placeholder}" data-enter-submit="#apply-search"></div>

<details id="advanced-toggle" data-enter-submit="#apply-search">
  <summary>@{lang.search.advanced}</summary>
  <p><label>@{lang.search.cw} <input data-enter-next="#search-username" data-enter-submit="#apply-search" id="search-cw" placeholder="@{lang.search.cw_placeholder}"></label></p>
  <p><label>@{lang.search.author} @<input data-enter-next="#search-quote" data-enter-submit="#apply-search" id="search-username" placeholder="@{lang.search.author_placeholder}"></label></p>

  <div><label>
    @{lang.search.quote}
    <select data-enter-submit="#apply-search" id="search-quote">
      <option value="null">@{lang.search.any}</option>
      <option value="true">@{lang.search.yes}</option>
      <option value="false">@{lang.search.no}</option>
    </select>
  </label></div>

  <div><label>
    @{lang.search.poll}
    <select data-enter-submit="#apply-search" id="search-poll">
      <option value="null">@{lang.search.any}</option>
      <option value="true">@{lang.search.yes}</option>
      <option value="false">@{lang.search.no}</option>
    </select>
  </label></div>

  <div><label>
    @{lang.search.comment}
    <select data-enter-submit="#apply-search" id="search-comment">
      <option value="null">@{lang.search.any}</option>
      <option value="true">@{lang.search.yes}</option>
      <option value="false">@{lang.search.no}</option>
    </select>
  </label></div>
</details>

<p><button data-button-alt-colors id="apply-search">@{lang.search.button}</button></p>

<hr>

<div id="timeline-carousel" class="generic-margin-bottom">
  <div data-timeline-id="search_recent" data-timeline-active>@{lang.timeline.newest}</div>
  <div data-timeline-id="search_oldest">@{lang.timeline.oldest}</div>
</div>

<div id="timeline-posts"></div>
<button id="timeline-more" hidden>@{lang.generic.load_more}</button>

{% include "snippets/generic/page-end.html" %}
