{% include "snippets/generic/page-start.html" with active_page="settings" %}

<h1 class="no-margin-top no-margin-bottom">Settings</h1>
<hr class="no-margin-bottom">
<div id="settings-sections">
  {% if logged_in %}<a class="plain-link" href="/settings/profile/" data-internal-link="settings/profile">Profile <small>- Display name, banner color...</small></a>{% endif %}
  <a class="plain-link" href="/settings/cosmetic/" data-internal-link="settings/cosmetic">Cosmetic <small>- Website theme, tweaks...</small></a>
  {% if logged_in %}<a class="plain-link" href="/settings/keybinds/" data-internal-link="settings/keybinds">Keybinds <small>- Navigation, send posts...</small></a>{% endif %}
  {% if logged_in %}<a class="plain-link" href="/settings/account/" data-internal-link="settings/account">Account <small>- Change password, delete account...</small></a>{% endif %}
  <a class="plain-link" href="/settings/about/" data-internal-link="settings/about">About <small>- Source code, credits...</small></a>
  {% if is_admin %}<a class="plain-link" href="/admin/" data-internal-link="admin">Administration <small>- Delete posts, generate invites...</small></a>{% endif %}

  {% if logged_in %}
    <a href="/logout/" data-internal-link="logout">Log Out...</a>
  {% else %}
    <a href="/login/" data-internal-link="login">Log In...</a>
  {% endif %}
</div>
<hr class="no-margin-top">

{% include "snippets/generic/page-end.html" %}
