<h1 class="no-margin-top">@{lang.titles.signup}</h1>

{% if conf.new_accounts %}
  {% if conf.new_accounts == "otp" %}
    <div><input data-enter-next="#username" data-enter-submit="#submit" id="otp" placeholder="@{lang.login.invite_code}" type="password" maxlength="64"></div>
  {% endif %}

  <div><input data-enter-next="#password" data-enter-submit="#submit" id="username" placeholder="@{lang.login.username}" maxlength="{{ conf.max_length.username }}"></div>
  <div><input data-enter-next="#confirm" data-enter-submit="#submit" id="password" placeholder="@{lang.login.password}" type="password"></div>
  <div><input data-enter-submit="#submit" id="confirm" placeholder="@{lang.login.confirm}" type="password"></div>
  <p><button id="submit">@{lang.login.sign_up_button}</button> <button data-password-toggle="#password,#confirm">@{lang.generic.toggle_password}</button></p>
{% else %}
  <p>@{lang.login.new_accounts_disabled}</p>
{% endif %}

<div><a data-internal-link="login" href="/login/">@{lang.login.already_have_account}</a></div>
