<h1 class="no-margin-top">Sign Up</h1>

{% if conf.new_accounts %}
  {% if conf.new_accounts == "otp" %}
    <div><input data-enter-next="#username" data-enter-submit="#submit" id="otp" placeholder="Invite Code" type="password" maxlength="64"></div>
  {% endif %}

  <div><input data-enter-next="#password" data-enter-submit="#submit" id="username" placeholder="Username" maxlength="{{ conf.max_length.username }}"></div>
  <div><input data-enter-next="#confirm" data-enter-submit="#submit" id="password" placeholder="Password" type="password"></div>
  <div><input data-enter-submit="#submit" id="confirm" placeholder="Confirm Password" type="password"></div>
  <p><button id="submit">Sign Up</button> <button data-password-toggle="#password,#confirm">Toggle Password</button></p>
{% else %}
  <p>New accounts are currently disabled.</p>
{% endif %}

<div>Already have an account? <a data-internal-link="login" href="/login/">Log in</a></div>
