<h1 class="no-margin-top">Sign Up</h1>

<div><input hidden data-enter-next="#username" data-enter-submit="#submit" id="otp" placeholder="Invite Code" type="password"></div>
<div><input data-enter-next="#password" data-enter-submit="#submit" id="username" placeholder="Username"></div>
<div><input data-enter-next="#confirm" data-enter-submit="#submit" id="password" placeholder="Password" type="password"></div>
<div><input data-enter-submit="#submit" id="confirm" placeholder="Confirm Password" type="password"></div>
<p><button id="submit">Sign Up</button> <button data-password-toggle>Toggle Passwords</button></p>

<div>Already have an account? <a data-internal-link="login" href="/login/">Log in</a></div>
