{% extends "email/base.html" %}

{% block title %}
  {{ TITLE }}
{% endblock %}

{% block body %}
  {% autoescape  off %}
    <h2>{{ lang.email.generic.greeting }}</h2>
    <p>{{ B1 }}</p> <!-- You have requeted to change your email -->
    <p>{{ B2 }}</p> <!-- Click on this link to remove the current email -->
    <p style="margin-bottom: 0;">{{ B3 }}</p> <!-- If this wasn't you, change your password now by going to /login/reset -->
    <small style="display: block; font-size: 0.7em; color: {{ COLOR.subtext0 }};"><p style="margin-bottom: 0;">{{ lang.email.generic.expire }}</p></small>
  {% endautoescape %}
{% endblock %}
