{% extends "email/base.html" %}

{% block title %}
  {{ TITLE }}
{% endblock %}

{% block body %}
  {% autoescape  off %}
    <h2>{{ lang.email.generic.greeting }}</h2>
    <p>{{ B1 }}</p> <!-- You have requested to reset your password... do so by going to url -->
    <p>{{ B2 }}</p> <!-- If you didn't do this, ignore the email... -->
    <p style="margin-bottom: 0;">{{ B3 }}</p> <!-- If this isn't your account, go to url to remove it -->
    <small style="display: block; font-size: 0.7em; color: {{ theme.colors.subtext }};"><p style="margin-bottom: 0;">{{ lang.email.generic.expire }}</p></small>
  {% endautoescape %}
{% endblock %}
