{% extends "email/base.html" %}

{% block title %}
  Password Reset for {{ USERNAME }}
{% endblock %}

{% block body %}
  <h1>Hey there!</h1>
  <p>
    You seem to have requested to reset your password, and you received this
    email because it was linked to the account {{ USERNAME }}. In order to do
    that, please go to <a href="{{ URL }}">this link</a>.
  </p>
  <p>
    If you didn't request for your password to be reset, feel free to ignore
    this email. If anyone asks you for the link,
    <strong class="red">DO NOT SHARE IT.</strong> It will them the ability to
    reset your password for you, which would basically lock you out of your
    account.
  </p>
  <p>
    If this is not your account, please go to <a href="{{ URL }}">this link</a>
    to remove this email from the account {{ USERNAME }}.
  </p>
{% endblock %}
