/* Monospace font */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/font/cousine-normal.woff") format('woff');
}
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/font/cousine-bold.woff") format('woff');
}
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/static/font/cousine-italic.woff") format('woff');
}
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/static/font/cousine-bolditalic.woff") format('woff');
}
/* Normal font */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/font/poppins-normal.woff") format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/font/poppins-bold.woff") format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/static/font/poppins-italic.woff") format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/static/font/poppins-bolditalic.woff") format('woff');
}
#timeline-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  margin: -1em;
  margin-left: 0;
  justify-content: center;
}
#timeline {
  width: 600px;
  max-width: calc(100vw - 2em);
  min-height: 100vh;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  border-bottom: none;
  border-top: none;
  padding: 1em;
}
#timeline hr {
  width: calc(100% + 2em);
  height: 0;
  margin: 1em -1em;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--border-color);
}
#timeline #timeline-carousel {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -1em;
  border-bottom: 2px solid var(--border-color);
  backdrop-filter: blur(4px);
}
#timeline #timeline-carousel > div {
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
  padding: 1em;
  background-color: rgba(var(--background-rgb) / 25%);
  transition: background-color 0.5s;
  cursor: pointer;
  min-width: 125px;
}
#timeline #timeline-carousel > div:hover {
  background-color: var(--background-mid);
  transition: background-color 0.2s;
}
#timeline #timeline-carousel > div[data-timeline-active] {
  font-weight: 700;
}
#timeline #compose-box {
  margin: -1em 0;
  margin-top: calc(1em + 2px);
}
#timeline #compose-box > div:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
#timeline #compose-box textarea {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: var(--text);
  width: calc(100% + 2em);
  margin: 0;
  resize: none;
  border: none;
  padding: 0.5em 1.5em;
  height: 10em;
  box-sizing: border-box;
  font-size: 1em;
  margin: 0 -1em;
}
#timeline #compose-box textarea:not(:focus) {
  outline: none;
}
#timeline #compose-box input:not([type="checkbox"]) {
  background-color: transparent;
  border-radius: 0;
  width: calc(100% + 2em);
  max-width: unset;
  margin: 0;
  resize: none;
  padding: 0.5em 1.5em;
  box-sizing: border-box;
  font-size: 1em;
  margin: 0 -1em;
}
#timeline #compose-box .post-options {
  text-wrap: nowrap;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
}
#timeline .timeline-status {
  display: block;
  padding: 1em 0;
}
#timeline #timeline-more {
  font-size: 1em;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-top: 1px solid var(--border-color);
  padding: 1em 0.5em;
  border-radius: 0;
  margin-top: 1em;
  margin-bottom: -1em;
}
#timeline #timeline-more:focus {
  outline: none !important;
}
#navbar {
  position: sticky;
  top: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: flex-start;
  height: auto;
  text-align: left;
  gap: 1em;
  align-items: center;
}
#navbar svg {
  fill: currentColor;
  stroke: none;
  width: 1.5em;
  height: 1.5em;
}
#navbar > a {
  height: 1.5em;
}
#navbar > a > svg:first-child {
  display: none;
}
#navbar > a.navbar-current > svg:first-child {
  display: inline;
  filter: drop-shadow(0 0 3px var(--subtext));
}
#navbar > a.navbar-current > svg:last-child {
  display: none;
}
@media screen and (min-width: calc(6em + 2 * 1.5em + 600px)) {
  #timeline {
    margin-right: calc(2em + 1.5em);
  }
}
@media screen and (max-width: 500px) {
  #timeline-container {
    display: block;
    margin: -1em;
  }
  #timeline {
    width: 100vw;
    max-width: unset;
    border: none;
    padding-bottom: calc(1.5em + 2em);
  }
  #navbar {
    position: fixed;
    gap: 0;
    align-items: center;
    left: 0;
    top: calc(100vh - 1.5em - 1em);
    height: 1.5em;
    padding: 0.5em 0.25em;
    width: calc(100vw - 0.5em);
    flex-direction: row;
    z-index: 999;
    backdrop-filter: blur(4px);
    background-color: rgba(var(--background-rgb) / 25%);
    border-top: 2px solid var(--border-color);
    text-align: center;
  }
  #navbar > a {
    flex: 1;
    padding: 0.5em 0;
  }
}
#timeline-posts {
  margin: -1em 0;
}
#timeline-posts :last-child .post {
  border-bottom: none;
}
.post {
  box-sizing: border-box;
  text-align: left;
  padding: 1em 0.5em;
  border-bottom: 1px solid var(--border-color);
}
.post .post-upper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.25em;
  max-width: 100%;
}
.post .post-upper .post-user {
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  flex-shrink: 1;
  white-space: pre;
}
.post .post-upper .post-username {
  min-width: 3em;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  flex-shrink: 9999;
}
.post .post-upper .post-timestamp {
  padding-left: 0.5em;
}
.post .post-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}
.post .content-warning summary {
  list-style: none;
  cursor: pointer;
}
.post .content-warning summary::-webkit-details-marker {
  display: none;
}
.post .content-warning summary > div {
  padding: 0 0.5em;
  margin-top: 0.25em;
  display: inline-block;
  font-style: italic;
  width: auto;
  white-space: pre-wrap;
  border-bottom: 2px solid var(--border-color);
}
.post .content-warning summary:focus {
  outline: none !important;
}
.post .content-warning summary:after {
  display: block;
  content: "Show content";
  font-style: italic;
  cursor: pointer;
}
.post .content-warning .content-warning-stats {
  display: inline;
  font-size: 0.75em;
  color: var(--subtext);
}
.post .content-warning[open] summary:after {
  display: none;
}
.post .subtext {
  color: var(--subtext);
}
[data-hide-with-posts]:has(+ .post),
[data-hide-with-posts]:has(+ div > .post) {
  display: none !important;
}
@media screen and (max-width: 500px) {
  .post > .post-user > .post-timestamp {
    display: none;
  }
}
html {
  --background: #190b14;
  --background-rgb: 25, 11, 20;
  --background-mid: #2e1425;
  --background-bright: #3c1a30;
  --background-very-bright: #5e2a4e;
  --text: #c5b8ca;
  --subtext: #c5a8ca80;
  --accent: #d8a4c6;
  --red: #d67677;
  --yellow: #d3d381;
  --border-color: var(--background-bright);
}
html[data-light] {
  --background: #f4e6ef;
  --background-mid: #ebd1e2;
  --background-bright: #e5c2d9;
  --background-very-bright: #d4a0c5;
  --text: #413446;
  --subtext: #41344680;
  --accent: #592647;
  --red: #89292b;
  --yellow: #d3d381;
}
body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  transition: background-color 0.5s, color 0.5s;
}
:focus {
  outline: 2px solid var(--accent) !important;
}
:disabled {
  opacity: 60%;
}
::placeholder {
  color: var(--subtext);
  opacity: 100%;
}
::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}
[hidden] {
  display: none !important;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
h1 {
  font-size: 2rem;
  margin: 1rem 0;
}
h2 {
  font-size: 1.125rem;
  margin: 1rem 0;
}
small {
  color: var(--subtext);
  font-size: 0.75rem;
}
a:not(.plain-link),
a:not(.plain-link):visited {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.5s;
}
a:not(.plain-link):hover,
a:not(.plain-link):focus {
  color: var(--red);
  text-decoration: underline;
  transition: color 0s;
}
a.plain-link,
a.plain-link:visited,
a.plain-link:hover,
a.plain-link:focus {
  color: var(--text);
  text-decoration: none;
}
input:not([type="checkbox"]),
select {
  font: inherit;
  font-size: 0.875rem;
  background-color: var(--background-mid);
  color: var(--text);
  font-weight: 400;
  padding: 6px 10px;
  margin: 2px 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 999px;
}
input:not([type="checkbox"]) {
  width: calc(100vw - 20px);
  max-width: 250px;
}
input.invalid {
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--red) !important;
}
button {
  background-color: var(--background-mid);
  color: var(--text);
  padding: 4px 9px;
  border: none;
  border-radius: 999em;
  cursor: pointer;
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
}
button[data-button-alt-colors] {
  background-color: var(--accent);
  color: var(--background);
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.generic-margin-top {
  margin-top: 1em;
}
.generic-margin-bottom {
  margin-bottom: 1em;
}
.flex-spacer {
  flex: 1;
}
#loading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}
#loading #loading-icon {
  width: 90vmin;
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}
#loading #loading-bar {
  width: 200px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--background-mid);
}
#loading #loading-bar::before {
  content: "";
  position: absolute;
  background-color: var(--accent);
  width: calc(var(--progress) * 2px);
  transform: translatex(-100px);
  height: 10px;
  border-radius: 5px;
  transition: width 0.1s;
}
#snippets {
  display: none;
}
#toasts {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  z-index: 102;
}
#toasts .toast {
  background-color: var(--background-mid);
  border: 2px solid var(--accent);
  box-sizing: border-box;
  padding: 10px;
  max-width: calc(100vw - 20px);
  width: 290px;
  border-radius: 15px;
}
#toasts .toast > .toast-title {
  font-weight: 700;
  font-size: 1.125rem;
}
