{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Admin Panel - {{SITE_NAME}} v{{VERSION}}</title>
    {% autoescape off %}
    {{HTML_HEADERS}}
    {% endautoescape %}
    <link rel="stylesheet" href="{% static "/css/admin.css" %}">
    <script>
      let home = true;
    </script>
  </head>

  <body data-theme="{{THEME}}" style="--banner: {{BANNER_COLOR}}; --banner-two: {{BANNER_COLOR_TWO}}">
    <h1>Admin Panel: Level {{LEVEL}}/5</h1>

    <hr>

    <div class="actions-container">
      <div>
        <h2>Level 1</h2>

        <h3>Post Deletion</h3>
        <div id="post-deletion">
          <input placeholder="Post/comment id..."><br>
          Comment? <input type="checkbox"><br>
          <button>Delete Post</button>
        </div>
      </div>

      {% if LEVEL >= 2 %}
        <div>
          <h2>Level 2</h2>

          <h3>Account Deletion</h3>
          <input placeholder="Account username/id..."><br>
          Use id? <input type="checkbox"><br>
          <button>Delete Account</button>
        </div>
      {% endif %}

      {% if LEVEL >= 3 %}
        <div>
          <h2>Level 3</h2>

          <h3>Add/remove Badges</h3>
          <h3>Get User Data</h3>
          <input placeholder="Account username/id..."><br>
          Use id? <input type="checkbox"><br>
          <select>
            {% for BADGE in BADGE_DATA %}
            <option value="{{BADGE}}">{{BADGE}}</option>
            {% empty %}
            <option value="">Somehow there are no existing badges? This shouldn't happen...</option>
            {% endfor %}
          </select><br>
          <button>Add Badge</button> <button>Remove Badge</button>

          <h3>Create/Override Badge</h3>
          <input placeholder="Badge name..."><br>
          <textarea placeholder="Badge svg data..."></textarea><br>
          <button>Create Badge</button>

          <h3>Delete Badge</h3>
          <input placeholder="Badge name..."><br>
          <button>Delete Badge</button>
        </div>
      {% endif %}

      {% if LEVEL >= 4 %}
        <div>
          <h2>Level 4</h2>

          <h3>Get User Data</h3>
          <input placeholder="Account username/id..."><br>
          Use id? <input type="checkbox"><br>
          <button>Get Data</button><br><br>

          <div>
            Current account: <code>subroutine</code> (id: 4)<br>
            <input placeholder="Display name..." value="Ɛ: SubrOwOtine :3"><br>
            <button>Save Display Name</button><br><br>
            <textarea placeholder="User bio..."></textarea><br>
            <button>Save user bio</button><br>
            <button>Add to Account Switcher</button>
          </div>
        </div>
      {% endif %}

      {% if LEVEL >= 5 %}
        <div>
          <h2>Level 5</h2>

          <h3>Account Deletion</h3>
          <input placeholder="Account username/id..."><br>
          Use id? <input type="checkbox"><br>
          <select>
            <option value="0">No admin permissions (lvl 0)</option>
            <option value="1">Delete posts/comments (lvl 1)</option>
            <option value="2">Delete accounts (lvl 2)</option>
            <option value="3">Manage badges (lvl 3)</option>
            <option value="4">Modify user data (lvl 4)</option>
            <option value="5">Create new admins (lvl 5)</option>
          </select><br>
          <button>Set admin level</button>
        </div>
      {% endif %}

    </div>

    {% autoescape off %}
    {{HTML_FOOTERS}}
    {% endautoescape %}
  </body>
</html>
