{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Home - {{SITE_NAME}} v{{VERSION}}</title>
    {% autoescape off %}
    {{HTML_HEADERS}}
    {% endautoescape %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <script src="{% static '/js/quotes.js' %}"></script>
  </head>

  <body data-theme="{{THEME}}">
    <textarea id="post-text" maxlength="{{MAX_POST_LENGTH}}" placeholder="Enter your post here..."></textarea><br>
    <button id="post" class="inverted">Post</button><br>
    <button onclick="refresh()">Refresh</button><br>
    <a id="switch" href="#"></a><br><br>
    <div id="error"></div>
    <div id="posts"></div>
    <button id="more" onclick="refresh(true)" hidden>Load more...</button>

    <script src="{% static '/js/home.js' %}"></script>
    {% autoescape off %}
    {{HTML_FOOTERS}}
    {% endautoescape %}
  </body>
</html>
