<!DOCTYPE html>

<html>
  <head>
    <title>Redirecting you shortly...</title>
    {% autoescape off %}
    {{ HTML_HEADERS }}
    {% endautoescape %}

    <meta name="description" content="Logout page">
    <meta name="author" content="{{ SITE_NAME }} v{{ VERSION }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ SITE_NAME }} v{{ VERSION }}">
    <meta property="og:description" content="Logout page">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ SITE_NAME }} v{{ VERSION }}">
    <meta name="twitter:description" content="Logout page">
  </head>

  <body data-theme="{{THEME}}">
    If you don't get redirected soon, click <a href="/">here...</a>
    <script>
      localStorage.removeItem("home-page");
      localStorage.removeItem("color");
      localStorage.removeItem("username")
      eraseCookie("token");
      window.location.href = "/";
    </script>
  </body>
</html>
