{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>{{DISPLAY_NAME}} - {{SITE_NAME}} v{{VERSION}}</title>
    {% autoescape off %}
    {{HTML_HEADERS}}
    {% endautoescape %}

    <meta name="description" content="{{CONTENT}}">
    <meta name="author" content="{{DISPLAY_NAME}} on {{SITE_NAME}}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{DISPLAY_NAME}} on {{SITE_NAME}}">
    <meta property="og:description" content="{{CONTENT}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{DISPLAY_NAME}} on {{SITE_NAME}}">
    <meta name="twitter:description" content="{{CONTENT}}">

    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="{% static '/css/user.css' %}">
    <script src="{% static '/js/quotes.js' %}"></script>
    <style>
      #top .main-content {
        -webkit-line-clamp: unset;
      }
    </style>
  </head>

  <body data-theme="{{THEME}}">
    <div id="top" data-post-id="{{POST_ID}}"></div>
    <textarea id="post-text" style="height: 3em;" maxlength="{{MAX_POST_LENGTH}}" placeholder="Enter your reply here..."></textarea><br id="hide-me">
    <button id="post">Post</button><br>
    <button onclick="refresh()">Refresh</button><br><br>
    <div id="error"></div>
    <div id="posts"></div>
    <div id="more-container"><button id="more" onclick="refresh(true)" hidden>Load more...</button></div>

    <script>
      const post_id = {{POST_ID}};
      const comment = {{COMMENT}};
      const logged_in = {{LOGGED_IN}};
      let share = window.location.href;
      let home = true;

      {% autoescape off %}
      const post = {{POST_JSON}};
      {% endautoescape %}

      dom("top").innerHTML = getPostHTML(
        post.content,          // content
        post.post_id,          // postID
        post.creator_username, // username
        post.display_name,     // displayName
        post.timestamp,        // timestamp
        post.comments,         // commentCount
        post.likes,            // likeCount
        post.quotes,           // quoteCount
        post.quote,            // quote
        post.liked,            // isLiked
        post.private_acc,      // isPrivate
        {{COMMENT}},           // isComment
        true,                  // includeUserLink
        false                  // includePostLink
      );
    </script>

    {% autoescape off %}
    {{HTML_FOOTERS}}
    {% endautoescape %}
    <script src="{% static '/js/post.js' %}"></script>
  </body>
</html>
