{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Settings - {{ SITE_NAME }} v{{ VERSION }}</title>
    {% autoescape off %}
    {{ HTML_HEADERS }}
    {% endautoescape %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="{% static '/css/settings.css' %}">
  </head>

  <body style="--banner: {{ BANNER_COLOR }};">
    <h1>Settings</h1>
    <div id="error"></div>

    Theme:<br>
    <select id="theme">
      <option {{ SELECTED_IF_DARK }} value="dark">Dark</option>
      <option {{ SELECTED_IF_LIGHT }} value="light">Light</option>
    </select><br><br>

    Display name:<br>
    <input id="displ-name" placeholder="Display name..." value="{{ DISPLAY_NAME }}" maxlength="{{ MAX_DISPL_NAME_LENGTH }}">
    <button id="displ-name-save">Save</button><br><br>
    <br><br>

    Banner color:<br>
    <div style="width: 200px; background-color: var(--banner); opacity: 20%; height: 50px; display: inline-block;"></div><br>
    <input id="banner-color" value="{{ BANNER_COLOR }}" type="color"> <button id="banner-color-save">Save</button><br><br>

    Private account:<br>
    <input type="checkbox" id="priv" {{ CHECKED_IF_PRIV }}> <button id="priv-save">Save</button><br>
    If your account is private, that means only you and people you follow can see your posts.<br><br>

    Color:
    <div id="color-container"></div><br><br>

    <a href="https://github.com/trinkey/social-media-thing" target="_blank" {{ HIDE_SOURCE }}>Source code</a><br {{ HIDE_SOURCE }}>
    <a href="/logout">Log out</a>

    <script src="{% static '/js/settings.js' %}"></script>
    {% autoescape off %}
    {{ HTML_FOOTERS }}
    {% endautoescape %}
  </body>
</html>
