{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Sign Up - {{ SITE_NAME }} v{{ VERSION }}</title>
    {% autoescape off %}
    {{ HTML_HEADERS }}
    {% endautoescape %}

    <meta name="description" content="Signup page">
    <meta name="author" content="{{ SITE_NAME }} v{{ VERSION }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ SITE_NAME }} v{{ VERSION }}">
    <meta property="og:description" content="Signup page">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ SITE_NAME }} v{{ VERSION }}">
    <meta name="twitter:description" content="Signup page">
  </head>

  <body>
    <h1>Sign Up</h1>
    <input id="username" maxlength="{{ MAX_USERNAME_LENGTH }}" placeholder="Username..."><br>
    <input id="password" placeholder="Password..." type="password"><br><br>
    <button id="submit">Sign Up</button><br><br>
    <button id="toggle-password">Show/Hide Password</button><br><br>
    <a href="/login">Log in instead...</a>
    <div id="error"></div>

    <script src="{% static '/js/signup.js' %}"></script>
  </body>
</html>
