{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>{{DISPLAY_NAME}} - {{SITE_NAME}} v{{VERSION}}</title>
    {% autoescape off %}
    {{HTML_HEADERS}}
    {% endautoescape %}

    <!-- Make this the user bio once added // <meta name="description" content="{{USER_BIO}}"> -->
    <meta name="author" content="{{DISPLAY_NAME}}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{DISPLAY_NAME}} on {{SITE_NAME}}">
    <!-- Make this the user bio once added // <meta property="og:description" content="{{USER_BIO}}"> -->

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{DISPLAY_NAME}} on {{SITE_NAME}}">
    <!-- Make this the user bio once added // <meta name="twitter:description" content="{{USER_BIO}}"> -->

    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="{% static '/css/user.css' %}">
  </head>

  <body data-theme="{{THEME}}" data-username="{{USERNAME}}" style="--banner: {{BANNER_COLOR}}; --banner-two: {{BANNER_COLOR_TWO}}">
    <div id="banner" class="{{GRADIENT}}"></div>
    <div><div id="username-main">{{DISPLAY_NAME}}<span data-toggle-on-priv hidden> <div class="priv"></div></span></div></div>    <div id="username-lower">@{{USERNAME}}</div>
    <div id="follow"></div>
    <button onclick="refresh()">Refresh</button>
    <button id="toggle" {{IS_HIDDEN}} data-followed="{% if IS_FOLLOWING %} 1 {% else %} 0 {% endif %}" onclick="toggle_follow()">{% if IS_FOLLOWING %} Unfollow {% else %} Follow {% endif %}</button>
    <div data-toggle-on-view hidden>This account is private. Only users that they follow can see their posts.</div><br><br>
    <div id="error"></div>
    <div id="posts"></div>
    <div id="more-container"><button id="more" onclick="refresh(true)" hidden>Load more...</button></div>

    <script>
      const logged_in = {{LOGGED_IN}};
      let share = window.location.href;
      let home = true;
    </script>
    {% autoescape off %}
    {{HTML_FOOTERS}}
    {% endautoescape %}
    <script src="{% static '/js/user.js' %}"></script>
  </body>
</html>
