<div data-close-modal id="modal" @{private_post}>
  <div class="compose-box modal-inner">
    <div id="compose-modal-post" @{hidden_if_no_comment}>
      <div class="post-upper">
        <div class="post-private">@{icon_private}</div>
        <div class="post-user">@{display_name_2}</div>
        <div class="subtext post-username">@@{username}</div>

        <div class="subtext post-timestamp">@{timestamp}</div>
      </div>

      <div class="post-content">@{content_2}</div>
    </div>

    <div><input data-enter-next="#modal-post-content" data-enter-submit="#modal-post" id="modal-post-cw" placeholder="Content warning (optional)" maxlength="{{ conf.max_length.cw }}"></div>
    <div><textarea data-enter-next="!avoid" data-enter-submit="#modal-post" id="modal-post-content" placeholder="@{placeholder}" maxlength="{{ conf.max_length.post }}"></textarea></div>

    <div id="modal-poll-area" hidden>@{poll_items}</div>

    <div class="post-options">
      <div><label><input type="checkbox" id="modal-post-private" @{checked_if_default_private}> Followers only</label></div>
      <div class="flex-spacer"></div>
      <div><button data-button-alt-colors id="modal-poll-toggle" @{hidden_if_no_poll}>Poll</button></div>
      <div><button data-button-alt-colors id="modal-post">@{action}</button></div>
    </div>

    <div id="compose-modal-post" @{hidden_if_no_quote}>
      <div class="post-upper">
        <div class="post-private">@{icon_private}</div>
        <div class="post-user">@{display_name}</div>
        <div class="subtext post-username">@@{username}</div>

        <div class="subtext post-timestamp">@{timestamp}</div>
      </div>

      <div class="post-content">@{content}</div>
    </div>
  </div>
</div>
