<div class="post">
  <div class="post-upper">
    <div class="post-user-pfp" style="--color-one: @{banner_one}; --color-two: @{banner_two}"></div>
    <div class="post-user"><a data-internal-link="user" href="/u/@{username}/" class="plain-link">@{display_name}</a></div>
    <div class="subtext post-username"><a data-internal-link="user" href="/u/@{username}/" class="plain-link">@@{username}</a></div>
    <div class="subtext post-pronouns" @{hidden_if_no_pronouns}>@{pronouns}</div>
  </div>

  <div class="post-content">@{bio}</div>

  <div class="folreq-interactions">
    <button data-folreq-interaction-accept="@{username}">Accept</button>
    <button data-folreq-interaction-deny="@{username}">Deny</button>
    <button data-folreq-interaction-block="@{username}">Block</button>
  </div>
</div>
