{% include "./generic/page-start.html" with active_page="home" %}

<div id="timeline-carousel">
  <div data-timeline-id="home-following">Following</div>
  <div data-timeline-id="home-global" data-timeline-active>Global</div>
</div>

<div id="compose-box">
  <textarea placeholder="cool post"></textarea>
</div>

<hr>

post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>post<br>

{% include "./generic/page-end.html" %}
