<div class="post" data-post-id="placeholder">
  <div class="post-upper">
    <div class="subtext post-username">@loading</div>

    <div class="subtext post-timestamp">0s</div>
  </div>

  <div class="post-content">Loading...</div>

  <div class="post-interactions" @{post_interactions_hidden}>
    <div>@{icon_comment} <span data-number>0<span></div>
    <div>@{icon_quote} <span data-number>0<span></div>
    <div>@{icon_like} <span data-number>0<span></div>
    <div>@{icon_hamburger}</div>
  </div>
</div>
