<div id="navbar">
  {% if logged_in %}
    <a data-internal-link="home" href="/" class="plain-link{% if active_page == "home" %} navbar-current{% endif %}">
      <div>{% if active_page == "home" %}@{icon_home_active}{% else %}@{icon_home}{% endif %}</div>
    </a>

    <a data-internal-link="notifications" href="/notifications/" class="plain-link{% if active_page == "notifications" %} navbar-current{% endif %}">
      <div>{% if active_page == "notifications" %}@{icon_notifications_active}{% else %}@{icon_notifications}{% endif %}</div>
    </a>

    {% comment %} <a data-internal-link="messages" href="/messages/" class="plain-link{% if active_page == "messages" %} navbar-current{% endif %}">
      <div>{% if active_page == "messages" %}@{icon_messages_active}{% else %}@{icon_messages}{% endif %}</div>
    </a> {% endcomment %}

    <a data-internal-link="user" href="/u/@{username}/" class="plain-link{% if active_page == "user" %} navbar-current{% endif %}">
      <div>{% if active_page == "user" %}@{icon_user_active}{% else %}@{icon_user}{% endif %}</div>
    </a>

    <a data-internal-link="settings" href="/settings/" class="plain-link{% if active_page == "settings" %} navbar-current{% endif %}">
      <div>{% if active_page == "settings" %}@{icon_settings_active}{% else %}@{icon_settings}{% endif %}</div>
    </a>

    <a data-internal-link="follow-requests" href="/follow-requests/" {% if active_page == "follow-requests" %}class="plain-link navbar-current"{% else %}class="plain-link" hidden{% endif %}>
      <div>{% if active_page == "follow-requests" %}@{icon_folreq_active}{% else %}@{icon_folreq}{% endif %}</div>
    </a>
  {% else %}
    <a data-internal-link="login" href="/login/" class="plain-link"><div>@{icon_login}</div></a>
    <a data-internal-link="signup" href="/signup/" class="plain-link"><div>@{icon_user_plus}</div></a>

    <a data-internal-link="settings" href="/settings/" class="plain-link{% if active_page == "settings" %} navbar-current{% endif %}">
      <div>{% if active_page == "settings" %}@{icon_settings_active}{% else %}@{icon_settings}{% endif %}</div>
    </a>
  {% endif %}
</div>
