@font-size-small: 12px;
@font-size-normal: 16px;
@font-size-large: 20px;
@font-size-xl: 24px;

@timeline-width: 600px;
@navbar-width: 200px;
@navbar-item-height: 1.5em;
@navbar-item-vertical-padding: 0.75em;
@compose-modal-max-width: 600px;
@mobile-scale-threshold: 500px;
@font-family: "Poppins", sans-serif;

@post-lines-max: 5;
@notif-like-lines-max: 2;

@notification-dot-radius: 0.25em;

@carousel-z-index: 2;
@post-hamburger-z-index: 3;
@navbar-z-index: 4;
@compose-modal-z-index: 5;
@toast-z-index: 6;

@input-border-radius: 0.75em;
@button-border-radius: 0.75em;

@import "fonts.less";
@import "generic.less";

@import "home.less";
@import "api.less";
@import "post.less";
@import "settings.less";
@import "user.less";
