@timeline-width: 600px;
@navbar-width: 200px;
@navbar-item-height: 1.5em;
@mobile-scale-threshold: 500px;
@post-lines-max: 5;
@font-family: "Poppins", sans-serif;

@import "generic.less";
@import "fonts.less";
@import "home.less";
@import "post.less";
@import "user.less";
