#timeline-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  margin: -1em;
  margin-left: 0;
  justify-content: center;
}

#timeline {
  width: @timeline-width;
  max-width: calc(100vw - 2em);
  min-height: 100vh;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-top: none;
  padding: 1em;

  hr {
    width: calc(100% + 2em);
    height: 0;
    margin: 1em -1em;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);
  }

  #timeline-carousel {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -1em;
    border-bottom: 1px solid var(--border-color);
    backdrop-filter: blur(4px);

    > div {
      flex: 1;
      display: inline-block;
      box-sizing: border-box;
      padding: 1em;
      background-color: rgba(var(--background-rgb) / 25%);
      transition: background-color 0.5s;

      &:hover {
        background-color: var(--background-mid);
        transition: background-color 0.2s;
      }

      &[data-timeline-active] {
        font-weight: 700;
      }
    }
  }

  #compose-box {
    margin: -1em;
    margin-top: calc(1em + 2px);

    textarea {
      font-family: "Poppins", sans-serif;

      background-color: transparent;
      color: var(--text);
      width: 100%;
      margin: 0;
      resize: none;
      border: none;
      padding: 1em;
      height: 10em;
      box-sizing: border-box;

      &:not(:focus) {
        outline: none;
      }
    }
  }
}

#navbar {
  position: sticky;
  top: 0.75em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
  align-self: flex-start;
  height: auto;
  font-size: @navbar-item-height;
  text-align: left;
  gap: 0.25em;
  min-width: @navbar-item-height;
  align-items: center;

  svg {
    fill: currentColor;
    stroke: none;
    width: 1em;
    height: 1em;
  }

  > div > svg {
    &:first-child {
      display: none;
    }
  }

  > div.navbar-current > svg {
    &:first-child {
      display: inline;
      filter: drop-shadow(0 0 3px var(--subtext));
    }

    &:last-child {
      display: none;
    }
  }
}

@media screen and (min-width: calc(6em + 2 * @navbar-item-height + @timeline-width)) {
  #timeline {
    margin-right: calc(2em + @navbar-item-height);
  }
}

@media screen and (max-width: @mobile-scale-threshold) {
  #timeline-container {
    display: block;
    margin: -1em;
  }

  #timeline {
    width: 100vw;
    max-width: unset;
    border: none;
    padding-bottom: calc(@navbar-item-height + 2em);
  }

  #navbar {
    position: fixed;
    gap: 0;
    align-items: center;
    top: calc(100vh - @navbar-item-height - 0.5em);
    left: 0;
    height: @navbar-item-height;
    padding: 0.25em;
    width: calc(100vw - 0.5em);;
    flex-direction: row;
    z-index: 999;
    overflow: visible;
    backdrop-filter: blur(4px);
    background-color: rgba(var(--background-rgb) / 25%);
    border-top: 1px solid var(--border-color);
    text-align: center;

    > div {
      flex: 1;
    }
  }
}
