@post-max-width: 25.5em;
@post-padding: 1.25em;
@post-border-width: 3px;
@post-margin-mobile: 3vw;
@post-spacing: 1.75em;

// DO NOT CHANGE THESE - THEY DON'T AFFECT REGULAR INPUT STYLING!
@input-padding: 5px;
@input-margin: 3px;
@input-border: 1.5px;
@input-font-size: 0.8;

@keyframes like-anim {
  0% {
    translate: 0 0;
  }

  20% {
    opacity: 100%;
  }

  40% {
    rotate: 0;
  }

  100% {
    opacity: 0;
    rotate: 30deg;
    translate: -0.1em 3em;
  }
}

button:not(.bottom-content-icon) {
  min-width: 5em;
}

.post-container + [data-no-posts] {
  display: none;
}

.post {
  text-align: left;
  display: inline-block;
  padding: @post-padding;
  margin-bottom: @post-spacing;
  border: @post-border-width var(--accent-50) solid;
  border-radius: @post-border-width;
  background-color: var(--post-background);
  max-width: @post-max-width;
  width: calc(100vw - (@post-margin-mobile * 2) - (@post-border-width * 2) - (@post-padding * 2));

  .upper-content {
    cursor: pointer;

    .displ-name-container {
      // Properly positions the edit icon
      max-width: @post-max-width;
      width: calc(100vw - (@post-margin-mobile * 2) - (@post-border-width * 2) - (@post-padding * 2));
      display: flex;
      flex-direction: row-reverse;
      justify-content: left;
      align-items: flex-start;

      .spacing {
        margin-left: auto;
      }
    }

    .upper-lower-opacity {
      color: var(--subtext);
    }
  }

  .main-area {
    .c-warning summary {
      background-color: var(--content-warning-background);
      text-align: center;
      padding: 0.4em 0.2em;
      border-radius: 0.2em;
      margin-bottom: 0.2em;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      .c-warning-main {
        display: inline;
      }

      .c-warning-stats {
        font-size: 0.7em;
        color: var(--subtext);
      }
    }
  }

  .main-content {
    word-break: break-word;
    display: -webkit-box;
    line-clamp: 7;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  .quote-area {
    .post {
      width: calc(100vw - (@post-margin-mobile * 2) - (@post-border-width * 4) - (@post-padding * 4));
      max-width: calc(@post-max-width - (@post-padding * 2) - (@post-border-width * 2));
      margin: calc(@post-spacing / 2) 0;
    }

    .displ-name-container {
      width: calc(100vw - (@post-margin-mobile * 2) - (@post-border-width * 4) - (@post-padding * 4));
      max-width: calc(@post-max-width - (@post-padding * 2) - (@post-border-width * 2));
    }

    .main-content {
      line-clamp: 5;
      -webkit-line-clamp: 5;
    }
  }

  .poll-bottom {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .poll-bar-container {
    margin: 0.25em 0;
    border-radius: 0.5em;
    height: 2.2em;
    max-width: @post-max-width;
    width: calc(100vw - (@post-margin-mobile * 2) - (@post-border-width * 2) - (@post-padding * 2));

    &:has(.poll-bar) {
      background-color: var(--poll-voted-background);
    }

    &:not(:has(.poll-bar)) {
      background-color: var(--poll-no-vote-background);
      cursor: pointer;

      &:hover {
        background-color: var(--poll-voted-background);
      }
    }

    .poll-text {
      margin: 0.25em;
      padding: 0.1em 0.35em;
      border-radius: 0.3em;
      position: absolute;
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
      max-width: ~"calc(min(@{post-max-width}, 100vw - (@{post-margin-mobile} * 2) - (@{post-border-width} * 2) - (@{post-padding} * 2)) - 1.2em)";
    }

    .poll-bar {
      color: transparent;
      user-select: none;
      position: absolute;
      max-width: @post-max-width;
      width: calc(100vw - (@post-margin-mobile * 2) - (@post-border-width * 2) - (@post-padding * 2));

      & ~ .poll-text {
        background-color: var(--poll-voted-background);
      }

      &.voted div {
        background-color: var(--accent);
      }

      div {
        background-color: var(--accent-50);
        border-radius: 0.5em;
        height: 2.2em;
      }
    }
  }

  .bottom-content {
    text-align: center;

    .like[data-liked="true"] .hidden-if-like {
      display: none;
    }

    .like:not([data-liked="true"]) .hidden-if-unlike {
      display: none;
    }

    .comment-icon {
      padding-right: 0.3em;
    }

    .more-button {
      display: inline-block;
    }

    .like-secondary {
      position: absolute;
      display: none;

      &:has(+ .like[data-liked="true"][data-like-anim]) {
        display: inline-block;
        animation: like-anim 1s forwards ease-out;
      }
    }

    .more-button:focus + .more-container,
    .more-container:hover,
    .more-container:focus-within {
      opacity: 1;
      pointer-events: all;
      user-select: auto;
    }

    .more-container {
      border: 2px solid var(--accent);
      background-color: var(--button-background);
      border-radius: 4px;
      position: absolute;
      z-index: 1;
      min-width: 5em;
      display: inline-block;
      translate: calc(-100% - 1.6em) calc(-100% + 1.2em + 8px);

      opacity: 0;
      pointer-events: none;
      user-select: none;

      & > button {
        display: block;
        padding: 4px 12px 6px 6px;
        font-size: 1em;
        text-align: left;
        max-width: 10em;
        width: 100%;
        cursor: pointer;
        border: none;
        background: none;

        &:hover {
          background-color: var(--button-hover-background);
        }

        &:focus {
          border-color: var(--accent);
          scale: 100% !important;
        }

        &:first-child {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &:not(:first-child) {
          border-top: 1px solid var(--button-border-color);
        }
      }
    }
  }

  .quote-inputs,
  .main-area[data-editing] {
    text-align: center;

    .post-text {
      resize: none;
      height: 9em;
    }

    .post-text,
    .c-warning {
      width: ~"calc(min(@{post-max-width} / @{input-font-size}, 100vw - (@{post-margin-mobile} * 2) - (@{post-border-width} * 2) - (@{post-padding} / @{input-font-size} * 2)) - (@{input-padding} * 2) - (@{input-margin} * 2) - (@{input-border} * 2))";
    }
  }
}

#post-text {
  width: 35em;
  resize: none;
  height: 9em;
}

#post {
  position: relative;
  bottom: calc(2px + 2.6em);
  left: calc(15em + 3px);
}

#toggle-poll {
  position: relative;
  left: calc(15em + 3px);
  bottom: calc(2px + 7.1em);
}

#poll {
  position: relative;
  bottom: 3em;
}

#c-warning,
#poll input {
  width: 35em;
}

.banner-pfp {
  border-radius: 50%;
  background-image: linear-gradient(90deg, var(--color-one), var(--color-two));
}

.username,
.pronouns,
.timestamp {
  display: inline-block;
}

.bottom-content-icon svg,
svg.bottom-content-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  position: relative;
  top: 0.2em;
  fill: var(--text);
}

button.bottom-content-icon {
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  background-color: unset;
  font-size: 1rem;
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: unset;
  height: unset;
}

.like[data-liked="true"] svg,
.like-secondary svg {
  fill: var(--accent);
}

.bottom-spacing {
  display: inline-block;
  width: 3em;
}

#switch > a:not([href]) {
  font-weight: 700;
}

body[data-compact] {
  body[data-page="notifications"] .post {
    margin-bottom: 10px !important;
  }

  .post-container {
    &:first-child > .post {
      border-top-left-radius: @post-border-width;
      border-top-right-radius: @post-border-width;
    }

    &:last-child > .post {
      border-bottom-left-radius: @post-border-width;
      border-bottom-right-radius: @post-border-width;
    }

    & + .post-container > .post {
      border-top: none;
    }

    .post {
      margin: 0;
      border-radius: 0;
    }
  }

  .quote-area > .post {
    border-radius: @post-border-width;
  }
}

#content[data-page="post"] {
  #top .main-content {
    -webkit-line-clamp: unset;
    line-clamp: unset;
  }

  #parent {
    margin-bottom: 1.5em;
  }

  #post-text {
    height: 6em;
  }
}

@media screen and (max-width: 565px) {
  #post-text,
  #c-warning,
  #poll input {
    width: calc(94vw - (2em / 7) - 17px);
  }

  #post,
  #toggle-poll {
    left: calc(47vw - 2.5em - 8px);
  }

  .bottom-spacing {
    width: 1.5em;
  }
}

@media screen and (max-width: 385px) {
  .bottom-spacing {
    width: 0.5em;
  }
}
