#timeline-posts {
  margin: -1em 0;

  :last-child .post {
    border-bottom: none;
  }
}

#compose-modal {
  background-color: var(--modal-background);
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: @compose-modal-z-index;
  padding: 4em;
  box-sizing: border-box;

  .compose-box {
    box-sizing: border-box;
    background-color: var(--background);
    max-width: @compose-modal-max-width;
    padding: 0.5em 2em;
    border-radius: 1em;
    margin: 0 auto;
    outline: 2px solid var(--background-bright);

    .post-options {
      border-bottom: none;
    }
  }
}

#compose-modal-post,
.post-quote {
  --border-color: var(--background-very-bright);
  background-color: var(--background-mid);
  outline: 2px solid var(--border-color);
  border-radius: 0.5em;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  text-align: left;
}

#compose-modal-post {
  margin: 0.5em -1em;
}

.post-upper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.25em;
  max-width: 100%;

  .post-private {
    display: none;
  }

  .post-user {
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    flex-shrink: 1;
    white-space: pre;
  }

  .post-username {
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    flex-shrink: 9999;
  }

  .post-timestamp {
    padding-left: 0.5em;
  }
}

.post-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  display: -webkit-box;
  line-clamp: @post-lines-max;
  -webkit-line-clamp: @post-lines-max;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.post {
  box-sizing: border-box;
  text-align: left;
  padding: 1em .5em;
  border-bottom: 1px solid var(--border-color);

  .content-warning {
    summary {
      list-style: none;
      cursor: pointer;

      &::-webkit-details-marker {
        display: none;
      }

      > div {
        padding: 0 0.5em;
        margin-top: 0.25em;
        display: inline-block;
        font-style: italic;
        width: auto;
        white-space: pre-wrap;
        border-bottom: 2px solid var(--border-color);
      }

      &:focus {
        outline: none !important;
      }

      &:after {
        display: block;
        content: "Show content";
        font-style: italic;
        cursor: pointer;
      }
    }

    .content-warning-stats {
      display: inline;
      font-size: 0.75em;
      color: var(--subtext);
      white-space: nowrap;
    }

    &[open] summary:after {
      display: none;
    }
  }

  .subtext {
    color: var(--subtext);
  }

  .post-interactions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;

    [data-interaction-like],
    [data-interaction-quote] {
      cursor: pointer;
    }

    > div {
      flex: 1;
      max-width: 150px;

      &[data-liked] {
        svg:last-of-type { display: none; }

        &[data-liked="true"] {
          svg:last-of-type { display: inline; fill: var(--accent); }
          svg:first-of-type { display: none; }
        }
      }
    }

    svg {
      height: 1.2em;
      fill: currentColor;
      position: relative;
      top: 0.2em;
      padding-right: 0.1em;
    }
  }
}

[data-private-post] .post-private {
  display: inline-block !important;

  svg {
    height: 1.2em;
    fill: currentColor;
  }
}

@media screen and (max-width: @mobile-scale-threshold) {
  .post > .post-user > .post-timestamp {
    display: none;
  }

  #compose-modal {
    padding: 4em 1em;
  }
}

#focused-post .post {
  border-bottom: none;

  .post-content {
    display: inline;
    line-clamp: none;
    -webkit-line-clamp: none;
  }
}
