#settings-sections {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;

  > div,
  > a {
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    display: block;
    padding: 1em;
    box-sizing: border-box;

    &:last-child {
      border-bottom: none;
    }
  }

  > div > :first-child {
    font-weight: 700;
  }

  > a {
    font-weight: 700;

    small {
      font-weight: 400;
    }
  }
}

.back-link {
  display: block;
  padding: 1em;
  text-align: left;

  svg {
    fill: currentColor;
    height: 1em;
    translate: 0 0.125em;
    padding-right: 0.2em
  }
}

.kb-key {
  background-color: var(--background-mid);
  border-radius: 3px;
  padding: 0.1em 0.25em;
}

#banner-example {
  margin: 0.25em 0;
  height: 50px;
  max-width: 200px;
  border-radius: @input-border-radius;
  background: linear-gradient(90deg, var(--color-one), var(--color-two));
}

#banner-gradient:not(:checked) ~ div > #banner-two {
  display: none;
}

#font-size-selection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  > div {
    text-align: center;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    cursor: pointer;

    > span {
      align-self: flex-end;
    }
  }

  #font-size-small { font-size: @font-size-small; }
  #font-size-normal { font-size: @font-size-normal; }
  #font-size-large { font-size: @font-size-large; }
  #font-size-xl { font-size: @font-size-xl; }
}
