#user-container {
  #user-banner {
    width: 100%;
    height: 75px;
    background: linear-gradient(90deg, var(--color-one), var(--color-two));
    margin: -1em;
    padding: 1em;
  }

  #display-name {
    font-size: 2em;
    font-weight: bold;
    filter: drop-shadow(0 0 5px var(--background)) drop-shadow(0 0 5px var(--background)) drop-shadow(0 0 3px var(--background));
  }

  #username {
    color: var(--subtext);
  }
}

