{% include "snippets/generic/page-start.html" with active_page="settings" %}

<h1 class="no-margin-top no-margin-bottom">{{ conf.site_name }} {{ conf.version }}</h1>

<hr class="no-margin-bottom">
<a class="back-link plain-link" href="/settings/" data-internal-link="settings">@{icon_back} @{lang.titles.settings}</a>
<hr class="no-margin-top no-margin-bottom">

<div id="settings-sections">
  <div>
    <p class="no-margin-top">@{lang.settings.about.section_credits}</p>
    <p>@{lang.settings.about.lead_dev} <a target="_blank" href="https://trinkey.com/">trinkey</a></p>

    <p class="no-margin-bottom">@{lang.settings.about.contributors}</p>
    <ul class="no-margin-top">
      <li><a target="_blank" href="https://github.com/Subroutine7901/">Subroutine</a></li>
      <li><a target="_blank" href="https://github.com/DiamondTaco/">Bread</a></li>
      <li><a target="_blank" href="https://github.com/wrentmc/">Wren</a></li>
    </ul>

    <p class="no-margin-bottom">@{lang.settings.about.translators}</p>
    @{translator_credits}

    <small><p class="no-margin-bottom">@{lang.settings.about.icons}</p></small>
  </div>

  <div>
    <p class="no-margin-top">@{lang.settings.about.section_call_to_action}</p>
    <p>
      <a target="_blank" href="https://github.com/jerimiah-smiggins/smiggins/issues">@{lang.settings.about.create_an_issue}</a>
      @{lang.settings.about.suggestions_appreciated}
    </p>
    <div>@{changes_link}</div>
  </div>

  <div>
    <p class="no-margin-top">@{lang.settings.about.section_special_thanks}</p>
    <p>@{lang.settings.about.thanks_intro}</p>
    <div>@{lang.settings.about.thanks_body}</div>
  </div>

  <a target="_blank" href="https://github.com/jerimiah-smiggins/smiggins/">@{lang.settings.about.source}</a>
  <a target="_blank" href="https://discord.gg/tH7QnHApwu">@{lang.settings.about.discord}</a>
</div>

<hr class="no-margin-top">

{% include "snippets/generic/page-end.html" %}
