{% include "snippets/generic/page-start.html" with active_page="settings" %}

<h1 class="no-margin-top no-margin-bottom">@{lang.settings.account.real_title}</h1>

<hr class="no-margin-bottom">
<a class="back-link plain-link" href="/settings/" data-internal-link="settings">@{icon_back} @{lang.titles.settings}</a>
<hr class="no-margin-top no-margin-bottom">

<div id="settings-sections">
  <div>
    <p class="no-margin-top">@{lang.settings.account.section_change_password}</p>
    <div><input type="password" id="password-current" placeholder="@{lang.settings.account.current}" data-enter-next="#password-new" data-enter-submit="#password-set"></div>
    <div><input type="password" id="password-new" placeholder="@{lang.settings.account.new}" data-enter-next="#password-confirm" data-enter-submit="#password-set"></div>
    <div><input type="password" id="password-confirm" placeholder="@{lang.settings.account.confirm}" data-enter-submit="#password-set"></div>
    <button class="generic-margin-top" id="password-set">@{lang.settings.account.set}</button>
    <button data-password-toggle="#password-current,#password-new,#password-confirm">@{lang.generic.toggle_password}</button>
  </div>

  <div>
    <p class="no-margin-top">@{lang.settings.account.section_delete}</p>
    <p><input type="password" id="delete-acc-password" placeholder="@{lang.settings.account.password}" data-enter-next="#delete-acc-confirm" data-enter-submit="#delete-acc"></p>
    <p><label>
      <input type="checkbox" id="delete-acc-confirm" data-enter-submit="#delete-acc">
      @{delete_account_confirmation}
    </label></p>
    <button id="delete-acc">@{lang.settings.account.delete}</button>
    <button data-password-toggle="#delete-acc-password">@{lang.generic.toggle_password}</button>
  </div>

  <a href="/logout/" data-internal-link="logout">@{lang.settings.log_out}</a>
</div>

<hr class="no-margin-top">

{% include "snippets/generic/page-end.html" %}
