{% include "snippets/generic/page-start.html" with active_page="settings" %}

<h1 class="no-margin-top no-margin-bottom">Keybinds</h1>

<hr class="no-margin-bottom">
<a class="back-link plain-link" href="/settings/" data-internal-link="settings">@{icon_back} Settings</a>
<hr class="no-margin-top no-margin-bottom">

<div id="settings-sections">
  <div>
    <p class="no-margin-top">Generic Keybinds</p>

    <div class="kb-input" data-kb-id="newPost"></div>
    <div class="kb-input" data-kb-id="loadNewPosts"></div>
    <div class="kb-input" data-kb-id="topOfTimeline"></div>
  </div>

  <div>
    <p class="no-margin-top">Navigation Keybinds</p>
    <div class="kb-input" data-kb-id="navModifier"></div>
    {% if is_admin %}<div class="kb-input" data-kb-id="navAdmin"></div>{% endif %}
    <div class="kb-input" data-kb-id="navHome"></div>
    {% comment %} <div class="kb-input" data-kb-id="navMessages"></div> {% endcomment %}
    <div class="kb-input" data-kb-id="navNotifications"></div>
    <div class="kb-input" data-kb-id="navProfile"></div>
    <div class="kb-input" data-kb-id="navSettings"></div>
  </div>

  <div>
    <p class="no-margin-top">Post Interaction Keybinds</p>
    <div class="kb-input" data-kb-id="hamburgerDelete"></div>
    <div class="kb-input" data-kb-id="hamburgerPin"></div>
    <div class="kb-input" data-kb-id="hamburgerEdit"></div>
    <div class="kb-input" data-kb-id="hamburgerShare"></div>
    <div class="kb-input" data-kb-id="hamburgerEmbed"></div>
  </div>
</div>

<hr class="no-margin-top">

{% include "snippets/generic/page-end.html" %}
