<div data-close-modal id="modal">
  <div class="modal-inner">
    <h2>@{lang.messages.create_group}</h2>
    <div class="generic-margin-top" id="message-modal-inputs">
      <div>@<input autofocus data-enter-submit="#message-modal-create" placeholder="@{lang.generic.username}"></div>
    </div>
    <p>
      <button id="message-modal-create" data-button-alt-colors>@{lang.messages.create_group}</button>
      <button id="message-modal-add">@{lang.messages.add_user}</button>
      <button data-close-modal>@{lang.messages.cancel}</button>
    </p>
  </div>
</div>
