<div data-close-modal id="modal">
  <div class="modal-inner">
    <h2>@{lang.user.user_relationship_help_title}</h2>
    <p class="align-left">
      <b>@{lang.user.follow}/@{lang.user.unfollow}</b>:
      @{lang.user.follow_info}
    </p>
    <p class="align-left">
      <b>@{lang.user.mute}/@{lang.user.unmute}</b>:
      @{lang.user.mute_info}
    </p>
    <p class="align-left">
      <b>@{lang.user.block}/@{lang.user.unblock}</b>:
      @{lang.user.block_info}
    </p>
    <button data-close-modal>@{lang.user.modal_close}</button>
  </div>
</div>
