# This file contains all of the backend settings for the server. This is
# likely the only file you will edit when running the server. It's possible
# that the contents of this file will change between updates so don't rely on
# this file not changing at all. You can however remove any items from this
# file and the default value will persist. Along with that, the case (upper,
# lower, or any combination) of the keys doesn't matter.

# The version displayed on the website. Set to `null` for the real version.
version: null

# The name of the instance
site_name: Jerimiah Smiggins

# The url of the website that you are running. This is VERY IMPORTANT to set,
# and is required for emails and sitemaps to work properly. Make sure to
# include the "https://" part.
website_url: http://localhost:8000

# A list of words/phrases to show up when loading. If none are set, it uses
# the word "Loading"
MOTDs:
# - "Loading"
# - ...

# Set to FALSE for production servers!!! This determines whether or not to
# refresh the server when code changes Turning this off (and/or going into
# production) means you should get a web server like nginx or apache to serve
# static files securely among other things
debug: true

db_backup: # Information about database backups.
  # Whether or not to enable db backups
  enabled: false

  # Time (hours) per backup. Note that the database backups won't happen at
  # exactly this amount of time, instead whenever the next request comes into
  # the server after this amount of time. This is because threads (the way you
  # make code run at the same time) don't work very well with django's debug
  # mode. 1+
  frequency: 24

  # Max number of backups to keep. If this gets lowered after backups exist, any
  # existing backups past this threshold won't get automatically removed. 1+
  keep: 5

  # The path for database backups to be stored. Start this with a dollar sign ($)
  # in order to make the path relative to the directory this file is in
  path: $backups/

  # The file name for the database backups. All instances of the dollar sign ($)
  # will be replaced with the database backup number. There must be a dollar sign
  # in the filename.
  filename: db-$.sqlite3

# Use this if you want to verify your ownership on the google search console
google_verification_tag: null

# The user id of the instance owner. Can be found on the /django-admin/ page.
owner_user_id: 1

# If true, this changes how the site gets the user's ip address for
# ratelimiting. When true, instead of using the ip from the request itself,
# it uses the "X-Real-IP" header in the request. You can also set this to a
# string to target a specific header instead. Only use this if your server is
# behind a reverse proxy, like nginx, and you have configured ip addresses to
# pass through a header.
# Default: false
alternate_ips: false

# Whether or not to allow bots like GoogleBot to index your website for
# search engines and other similar use cases.
# Default: true
allow_indexing: true

# The maximum length of a username/display name. Must be between 1 and 255,
# but the display name length must be more than username length.
# Username default: 18
# Display name default: 32
max_username_length: 18
max_display_name_length: 32

# The maximum length of a user bio. Must be between 1 and 65,535.
# Aliases: max_bio_length, max_user_bio_length
# Default: 2000
max_user_bio_length: 2000

# The maximum length for content warnings on posts. Must be between 1 and
# 255.
# Aliases: max_cw_length, max_warning_length, max_content_warning_length
# Default: 100
max_content_warning_length: 100

# The maximum length for a post. Must be between 1 and 65,535.
# Default: 2000
max_post_length: 2000

# The maximum amount of options for a single poll. Must be at least 2. Any
# existing polls won't be modified by changing this.
# Default: 8
max_poll_options: 8

# The maximum length for a single poll option. Must be between 1 and 255.
# Default: 64
max_poll_option_length: 64

# The default banner color for new users. Should be in the hex color format
# (a hashtag ("#") followed by 6 characters 0-9, a-f)
# Default: "#3a1e93"
default_banner_color: "#3a1e93"

# This controls how many posts can be sent at a time from the server to the
# client. Increasing the number can increase bandwidth and cpu usage however
# it will likely improve the user experience. Must be between 1 and 255
# Default: 20
posts_per_request: 20

# If false, there will be an indication on the signup and index pages that
#  says the instance isn't accepting any new members. You can also set it to
# "otp" (one-time password) to require users to input a one time invite code
# when signing up. Those can be found in the admin page.
# Aliases: enable_signup, enable_new_users, enable_new_accounts
enable_new_accounts: true # Last tested: v0.13.8
